:root {
    height: 1920px; /* Fixed canvas size */
    width: 1080px;

    /* Overlay Colors */
    --gradient1: hsl(0, 55%, 60%);
    --gradient2: hsl(0, 55%, 63%);
    --gradient3: hsl(0, 55%, 72%);
    --gradient4: hsl(0, 55%, 78%);
    --gradient5: hsl(0, 55%, 80%);
    --gradient6: hsl(0, 55%, 78%);
    --gradient7: hsl(0, 55%, 72%);
    --gradient8: hsl(0, 55%, 63%);
    --gradient9: hsl(0, 55%, 60%);
    --outline1: #808080;
    --outline2: #4d4d4d;
    --outline3: #000000;

    /* Movepool Type Colours */
    --normal:   #a8a878;
    --fighting: #c03028;
    --grass:    #78c850;
    --fire:     #f08030;
    --water:    #6890f0;
    --electric: #f3d230;
    --ground:   #e0c068;
    --rock:     #b8a038;
    --psychic:  #f85888;
    --poison:   #a040a0;
    --flying:   #a890f0;
    --bug:      #a8b820;
    --ice:      #98d8d8;
    --ghost:    #705898;
    --dragon:   #7038f8;
    --steel:    #b8b8d0;
    --dark:     #705848;
    --fairy:    #ee99ac;

    /* Stat Colours */
    --hp:     #ff5959;
    --atk:    #f5ac78;
    --def:    #fae078;
    --spc:    #8ec7bc;
    --spcAtk: #9db7f5;
    --spcDef: #a7db8d;
    --spd:    #fa92b2;
    --dark_hp:     #ff0000;
    --dark_atk:    #f08030;
    --dark_def:    #f7c80c;
    --dark_spc:    #28917c;
    --dark_spcAtk: #6890f0;
    --dark_spcDef: #78c850;
    --dark_spd:    #e95380;

    /* Stat Gradients */

    /* Default Border Colours */
    --normal1:   #6d6d4e;
    --normal2:   #a8a878;
    --normal3:   #c6c6a7;
    --fighting1: #791c17;
    --fighting2: #bf2923;
    --fighting3: #d67873;
    --grass1:    #497d30;
    --grass2:    #78c850;
    --grass3:    #a7db8d;
    --fire1:     #9c531f;
    --fire2:     #f08030;
    --fire3:     #f5ac78;
    --water1:    #445e9c;
    --water2:    #6890f0;
    --water3:    #9db7f5;
    --electric1: #a1871f;
    --electric2: #f8d030;
    --electric3: #fae078;
    --ground1:   #927d44;
    --ground2:   #e0c068;
    --ground3:   #ebd69d;
    --rock1:     #716019;
    --rock2:     #b89f34;
    --rock3:     #d1c17d;
    --psychic1:  #9c3152;
    --psychic2:  #fa5889;
    --psychic3:  #fa92b2;
    --poison1:   #682a68;
    --poison2:   #a743a7;
    --poison3:   #c183c1;
    --flying1:   #675797;
    --flying2:   #b294e2;
    --flying3:   #c6b7f5;
    --bug1:      #697413;
    --bug2:      #a9bf1f;
    --bug3:      #c6d16e;
    --ice1:      #588585;
    --ice2:      #98dbdb;
    --ice3:      #bce6e6;
    --ghost1:    #4f4067;
    --ghost2:    #6e5597;
    --ghost3:    #a292bc;
    --dragon1:   #3b139a;
    --dragon2:   #6432dd;
    --dragon3:   #a27dfa;
    --steel1:    #737382;
    --steel2:    #bcbcd5;
    --steel3:    #d1d1e0;
    --dark1:     #3b291e;
    --dark2:     #695948;
    --dark3:     #a29288;
    --fairy1:    #9b6470;
    --fairy2:    #ee99ac;
    --fairy3:    #f4bdc9;
}