node_modules/
dist/
splits/Yellow/Omastar/finishes/Y-Omastar-4.csv
splits/Yellow/Omastar/finishes/Y-Omastar-4-simple.csv
splits/Yellow/Omastar/finishes/Y-Omastar-4-full.csv
splits/Yellow/Omastar/finishes/Y-Omastar-3.csv
splits/Yellow/Omastar/finishes/Y-Omastar-3-simple.csv
splits/Yellow/Omastar/finishes/Y-Omastar-3-full.csv
splits/Yellow/Omastar/finishes/Y-Omastar-2.csv
splits/Yellow/Omastar/finishes/Y-Omastar-2-simple.csv
splits/Yellow/Omastar/finishes/Y-Omastar-2-full.csv
splits/Yellow/Omastar/attempts/Y-test_run_Omastar-0.csv
splits/Yellow/Omastar/attempts/Y-test_run_Omastar-0-simple.csv
splits/Yellow/Omastar/attempts/Y-test_run_Omastar-0-full.csv
splits/Yellow/Omastar/attempts/Y-Omastar-5.csv
splits/Yellow/Omastar/attempts/Y-Omastar-5-simple.csv
splits/Yellow/Omastar/attempts/Y-Omastar-5-full.csv
splits/Yellow/Omastar/attempts/Y-Omastar-4.csv
splits/Yellow/Omastar/attempts/Y-Omastar-4-simple.csv
splits/Yellow/Omastar/attempts/Y-Omastar-4-full.csv
splits/Yellow/Omastar/attempts/Y-Omastar-3.csv
splits/Yellow/Omastar/attempts/Y-Omastar-3-simple.csv
splits/Yellow/Omastar/attempts/Y-Omastar-3-full.csv
splits/Yellow/Omastar/attempts/Y-Omastar-2.csv
splits/Yellow/Omastar/attempts/Y-Omastar-2-simple.csv
splits/Yellow/Omastar/attempts/Y-Omastar-2-full.csv
