<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scott's Thoughts - Gen1 Frontend v2.1.dev.21</title>
    <link rel="stylesheet" href="style-yellow.css" id="cssStylesheet">
</head>

<body>
    <div id="app">
        <div v-if="ready == false">Loading...</div>
        <div v-else>
            <div class="mainContainer">
                <div v-if="package == false && mapper.meta.gamePlatform == `GB`">
                    <img v-show="overlay == true" class="overlay" :src="`images/overlay/${starterName.toLowerCase()}${overlayName}.png`" />
                    <img class="gameArea" src="images/elements/overlay/gen1&2/gamearea.png" />
                    <img v-show="gameName() == `Pokemon Yellow`" class="demoBorderStats" src="images/exp_bar/stats.png"/>
                    <img v-show="gameName() == `Pokemon Yellow`" class="demoBorderStats" src="images/exp_bar/exp_bar.png"/>
                    <div class="exp_growthRate">{{ growthRate(starterName) }}</div>
                    <div class="timerLabel">time played at 4x game speed</div>
                    <div class="resetsLabel">resets</div>
                </div>
<!------ DEBUGGING ---------------------------------------------------------------------------------------------------------------------------->
                <div class="gamestateContainter">
                    <div>GamestateVariable: {{ g1stateVariable }}</div><br>
                </div>

<!------ TYPE ICONS --------------------------------------------------------------------------------------------------------------------------->
                <div class="typeContainer">
                    <div v-if="typeIcons == true && getStarterType1() == getStarterType2()"><img class="typeMono" :src="getStarterType1()" /></div>
                    <div v-else-if="typeIcons == true && getStarterType1() != getStarterType2()" class="dualType">
                        <img :src="getStarterType1()" />
                        <img :src="getStarterType2()" />
                    </div>
                </div>
    
<!--------- BADGE ICONS ---------------------------------------------------------------------------------------------------------------------->
                <div class="badgesBar">          
                    <img v-show="mapper.properties.player.badges.badge1.value === true" class="badgeBoostAtk" :src="badgeGraphic(mapper.properties.player.badges.badge1)" style="top: 914px; opacity: .3; left: 22px; z-index: 2;" />
                    <img v-show="mapper.properties.player.badges.badge3.value === true" class="badgeBoostDef" :src="badgeGraphic(mapper.properties.player.badges.badge3)" style="top: 976px; opacity: .3; left: 22px; z-index: 2;" />                    
                    <img v-show="mapper.properties.player.badges.badge5.value === true" class="badgeBoostSpd" :src="badgeGraphic(mapper.properties.player.badges.badge5)" style="top: 976px; opacity: .3; left: 206px; z-index: 2;" />                    
                    <img v-show="mapper.properties.player.badges.badge7.value === true" class="badgeBoostSpc" :src="badgeGraphic(mapper.properties.player.badges.badge7)" style="top: 914px; opacity: .3; left: 206px; z-index: 2;"/>      
                </div>                         
    
<!-- BASE STATS -------------------------------------------------------------------------------->
                <div class="statsContainer">  
                    <div v-if="g1stateVariable == `Base Stats`">
                        <div class="statsLabelsColumn1">
                            HP:<br>
                            Atk:<br>
                            Def:<br>
                        </div>
                        <div class="statsLabelsColumn2">
                            <br>
                            Spc:<br>
                            Spd:<br>
                        </div>
                        <div class="statsheader">Base Stats</div>
                        <div class="statsColumn1">
                            {{ pokemon(starter).baseHp }}<br>
                            {{ pokemon(starter).baseAtk }}<br>
                            {{ pokemon(starter).baseDef }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ pokemon(starter).critRate }}%</div>
                        <div class="statsColumn2">
                            <br>
                            {{ pokemon(starter).baseSpc }}<br>
                            {{ pokemon(starter).baseSpd }}<br>
                        </div>
                    </div>
    
<!-- OVERWORLD STATS --------------------------------------------------------------------------->
                    <div v-if="g1stateVariable == `Overworld` || g1stateVariable == `To Battle`">
                        <div class="statsLabelsColumn1">
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) != `Department`">HP:<br></span>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) != `Department`">Atk:<br></span>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) != `Department`">Def:<br></span>
                        </div>

                        <div class="statsLabelsColumn2">
                            <br>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) != `Department`">Spc:<br></span>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) != `Department`">Spd:<br></span>
                        </div>
                        <div>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) == `Department` || g1martSelector(mapper.properties.overworld.map.value) == `Vitamins`" class="vitaminHPLabel">HP Up: 
                                <br>
                                <span class="vitaminHP">{{statExp(mapper.properties.player.team[0].statExpHp)}}</span>
                            </span>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) == `Department` || g1martSelector(mapper.properties.overworld.map.value) == `Vitamins`" class="vitaminAtkLabel">Protein: 
                                <br>
                                <span class="vitaminAtk">{{statExp(mapper.properties.player.team[0].statExpAttack)}}</span>
                            </span>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) == `Department` || g1martSelector(mapper.properties.overworld.map.value) == `Vitamins`" class="vitaminDefLabel">Iron: 
                                <br>
                                <span class="vitaminDef">{{statExp(mapper.properties.player.team[0].statExpDefense)}}</span>
                            </span>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) == `Department` || g1martSelector(mapper.properties.overworld.map.value) == `Vitamins`" class="vitaminSpcLabel">Calcium: 
                                <br>
                                <span class="vitaminSpc">{{statExp(mapper.properties.player.team[0].statExpSpecial)}}</span>
                            </span>
                            <span v-show="g1martSelector(mapper.properties.overworld.map.value) == `Department` || g1martSelector(mapper.properties.overworld.map.value) == `Vitamins`" class="vitaminSpdLabel">Carbos: 
                                <br>
                                <span class="vitaminSpd">{{statExp(mapper.properties.player.team[0].statExpSpeed)}}</span>
                            </span>
                        </div>

                        <div class="statsheader">Level {{ mapper.properties.player.team[0].level.value }}</div>
                        <div class="statsColumn1">
                            {{ mapper.properties.player.team[0].maxHp }}<br>
                            {{ badgeBoost(mapper.properties.player.badges.badge1.value, mapper.properties.player.team[0].attack.value) }}<br>
                            {{ badgeBoost(mapper.properties.player.badges.badge3.value, mapper.properties.player.team[0].defense.value) }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ pokemon(starter).critRate }}%</div>
                        <div class="statsColumn2">
                            <br>
                            {{ badgeBoost(mapper.properties.player.badges.badge7.value, mapper.properties.player.team[0].special.value) }}<br>
                            {{ badgeBoost(mapper.properties.player.badges.badge5.value, mapper.properties.player.team[0].speed.value) }}<br>
                        </div>
                    </div>
    
<!-- BATTLE STATS ----------------------------------------------------------------------------->
                    <div v-if="g1stateVariable == `Battle` || g1stateVariable == `From Battle`">
                        <div class="statsLabelsColumn1">
                            <span>HP:<br></span>
                            <span v-bind:style="{ opacity: statLabelOpacity(mapper.properties.battle.yourPokemon.modStageAttack), color: statLabelColor(mapper.properties.battle.yourPokemon.modStageAttack) }">Atk:<br></span>
                            <span v-bind:style="{ opacity: statLabelOpacity(mapper.properties.battle.yourPokemon.modStageDefense), color: statLabelColor(mapper.properties.battle.yourPokemon.modStageDefense) }">Def:<br></span>
                        </div>
                        <div class="statsLabelsColumn2">
                            <br>
                            <span v-bind:style="{opacity: statLabelOpacity(mapper.properties.battle.yourPokemon.modStageSpecial), color: statLabelColor(mapper.properties.battle.yourPokemon.modStageSpecial)}">Spc:<br></span>
                            <span v-bind:style="{opacity: statLabelOpacity(mapper.properties.battle.yourPokemon.modStageSpeed), color: statLabelColor(mapper.properties.battle.yourPokemon.modStageSpeed)}">Spd:<br></span>
                        </div>
                        <div class="statsheader">Level {{ mapper.properties.player.team[0].level.value }}</div>
                        <div class="statsColumn1">
                            {{ mapper.properties.player.team[0].maxHp }}<br>
                            {{ mapper.properties.battle.yourPokemon.battleStatAttack }}<br>
                            {{ mapper.properties.battle.yourPokemon.battleStatDefense }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ pokemon(starter).critRate }}%</div>
                        <div class="statsColumn2">
                            <br>
                            {{ mapper.properties.battle.yourPokemon.battleStatSpecial }}<br>
                            {{ mapper.properties.battle.yourPokemon.battleStatSpeed }}<br>
                        </div>
                        <div v-bind:style="{ color: statLabelColor(mapper.properties.battle.yourPokemon.modStageAttack)}" class="atkMod">{{ stageModifiers(mapper.properties.battle.yourPokemon.modStageAttack) }}</div>
                        <div v-bind:style="{ color: statLabelColor(mapper.properties.battle.yourPokemon.modStageDefense)}" class="defMod">{{ stageModifiers(mapper.properties.battle.yourPokemon.modStageDefense) }}</div>
                        <div v-bind:style="{ color: statLabelColor(mapper.properties.battle.yourPokemon.modStageSpecial)}" class="spcMod">{{ stageModifiers(mapper.properties.battle.yourPokemon.modStageSpecial) }}</div>
                        <div v-bind:style="{ color: statLabelColor(mapper.properties.battle.yourPokemon.modStageAttack)}" class="spdMod">{{ stageModifiers(mapper.properties.battle.yourPokemon.modStageSpeed) }}</div>
                    </div>
                </div>  
    
<!--------- MOVESET -------------------------------------------------------------------------------------------------------------->
                <div class="movesetContainer">
                    <div class="labelMoves">moves</div>
                    <div class="labelPwr">pwr.</div>
                    <div class="labelPP">pp</div>
                    <div v-for="move in pkmnMoves">
                        <div v-if="mapper.properties.player.team[0].level > 0 && mapper.properties.player.team[0][move].value != null">
                            <div v-show="g1stateVariable != `Battle` && mapper.properties.player.team[0][move].value != null" :class="`${move}`">{{ camelCase(mapper.properties.player.team[0][move].value) }}</div>
                            <div v-show="g1stateVariable == `Battle` && mapper.properties.player.team[0][move].value != null" :class="`${move}`">{{ camelCase(mapper.properties.battle.yourPokemon[move].value) }}</div>
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`${move}pp`" v-bind:style="{ color: ppValueColor(mapper.properties.player.team[0].move1pp) }">{{ mapper.properties.player.team[0][move + "pp"] }}</div>
                            <div v-show="mapper.properties.player.team[0][move].value != null">
                                <div v-show="g1stateVariable != `Battle`" :class="`${move}power`" :key="typeEffectiveness(mapper.properties.player.team[0][move].value)">{{ typeEffectiveness(mapper.properties.player.team[0][move].value) }}</div>
                                <div v-show="g1stateVariable == `Battle`" :class="`${move}power`" :key="typeEffectiveness(mapper.properties.battle.yourPokemon[move].value)">{{ typeEffectiveness(mapper.properties.battle.yourPokemon[move].value) }}</div>
                            </div>
                            <img v-show="g1stateVariable != `Battle`" :class="`${move}icon`" :src="moveTypeIcon(mapper.properties.player.team[0][move].value)" />
                            <img v-show="g1stateVariable == `Battle`" :class="`${move}icon`" :src="moveTypeIcon(mapper.properties.battle.yourPokemon[move].value)" />
                        </div>
                    </div>
                </div>
          
<!------- ENEMY GRAPHIC ------------------------------------------------------------------------------------------------------------------->
                <transition name="fadeBattle">
                    <div key=1 v-if="((g1stateVariable == `Battle` || g1stateVariable == `To Battle` || g1stateVariable == `From Battle`) && g1trainerEnemySelector(mapper.properties.battle.trainer.class.value) == 1) && battleGraphic == true" style="position: absolute;">
                        <div v-if="showSpecialTrainerGraphics == true">
                            <img class="floor" v-show="specialTrainerGraphics() != null && g1stateVariable == `Battle`" src="images/trainers/floor.png" />
                            <div class="specialTrainerGraphics">
                                <img :src="specialTrainerGraphics()" />
                            </div>
                        </div>
                        <div class="trainerLabel">{{pascalCaseDot(pascalCaseSpace(fixTrainerName(mapper.properties.battle.trainer.class.value, mapper.properties.battle.trainer.number)))}}</div>
                        <img class="enemyPng" :src="`images/enemy_area/${starterName.toLowerCase()}${overlayName}.png`" :style="battlePokemonCrop()"/>
                        <div class="enemyGraphic">
                            <div v-for="x in pkmnSlots">
                                <div v-show="currentTrainer.pokemon[x]?.name != undefined" :class="`ePkmn${x + 1}`">
                                    <img class="ePkmnSprite" :src="`images/pokemon/${currentTrainer.pokemon[x]?.name}.png`" />
                                    <div class="ePkmnSpecies">{{currentTrainer.pokemon[x]?.name}}</div>
                                    <div class="ePkmnMove1">{{currentTrainer.pokemon[x]?.moves[0]}}</div>
                                    <div class="ePkmnMove2">{{currentTrainer.pokemon[x]?.moves[1]}}</div>
                                    <div class="ePkmnMove3">{{currentTrainer.pokemon[x]?.moves[2]}}</div>
                                    <div class="ePkmnMove4">{{currentTrainer.pokemon[x]?.moves[3]}}</div>
                                    <div class="ePkmnHp">{{currentTrainer.pokemon[x]?.hp}}</div>
                                    <div class="ePkmnAtk">{{activeSlot(x,mapper.properties.battle.enemyPokemon.pkmnIndex.value,"attack",currentTrainer.pokemon[x]?.atk,"enemyPokemon")}}</div>
                                    <div class="ePkmnDef">{{activeSlot(x,mapper.properties.battle.enemyPokemon.pkmnIndex.value,"defense",currentTrainer.pokemon[x]?.def,"enemyPokemon")}}</div>
                                    <div class="ePkmnSpd">{{activeSlot(x,mapper.properties.battle.enemyPokemon.pkmnIndex.value,"speed",currentTrainer.pokemon[x]?.spd,"enemyPokemon")}}</div>
                                    <div class="ePkmnSpc">{{activeSlot(x,mapper.properties.battle.enemyPokemon.pkmnIndex.value,"special",currentTrainer.pokemon[x]?.spc,"enemyPokemon")}}</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div key=2 v-else-if="(g1stateVariable == `Battle` && g1trainerEnemySelector(mapper.properties.battle.trainer.class.value) == 0) && battleGraphic == true" class="movepoolContainer">
                        <img class="rightBar" :src="`images/movepool/${starterName.toLowerCase()}${overlayName}.png`" />
                        <div class="movepoolLabel">Movepool</div>
                    </div>
                    <div key=2 v-else-if="g1stateVariable != `Battle` && battleGraphic == true" class="movepoolContainer">
                        <img class="rightBar" :src="`images/movepool/${starterName.toLowerCase()}${overlayName}.png`" />
                        <div class="movepoolLabel">Movepool</div>
                    </div>
                    <div key=2 v-else class="movepoolContainer">
                        <img class="rightBar" :src="`images/movepool/${starterName.toLowerCase()}${overlayName}.png`" />
                        <div class="movepoolLabel">Movepool</div>  
                    </div>
                </transition>
<!--------- EXP BAR -------------------------------------------------------------------------------------------------------------------->
                <div v-show="expBarToggle == true" class="expBar">
                    <img class="expLabelGen1" src="images/exp_bar/exp_label.png" />
                    <div class="expTextGen2">Exp:</div>
                    <div class="expMeterOuter"><div class="expMeterInner" ref="expBar" :style="{ width: expPercent(mapper.properties.player.team[0]) + '%' }"></div></div>
                </div>
            </div>
        </div>
    </div>

<!------ JAVASCRIPT --------------------------------------------------------------------------------------------------------------------->
    <script src="https://unpkg.com/@microsoft/signalr@latest/dist/browser/signalr.min.js"></script> 
    <script src="https://unpkg.com/vue@latest/dist/vue.global.js"></script>
    <script src="http://localhost:8085/dist/gameHookMapperClient.js"></script>
    <script src="data/gen1data.js"></script>
    <script src="data/gen1dataGrowthMovepool.js"></script>
    <script src="data/gen1moves.js"></script>
    <script src="data/gen1trainers.js"></script>
    <script src="data/gen1YellowTrainers.js"></script>
    <script src="data/gen1RedBlueTrainers.js"></script>
    <script src="data/type-effectiveness.js"></script>
    <script src="data/stage-modifiers.js"></script>
    <script type="text/javascript" src="scripts/vue.js"></script>
</body>