<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scott's Thoughts - Gen1 Frontend v2.1.dev.21</title>
    <link rel="stylesheet" href="style-yellow.css">
</head>

<body>
    <div id="app">
        <div v-if="ready == false">Loading...</div>
        <div v-else>
            <div class="mainContainer">
                <div v-if="package == false && mapper.meta.gamePlatform == `GB`">
                    <img v-show="overlay == true" class="canvas" :src="`images/overlay/${starterName.toLowerCase()}${overlayName}.png`" />
                    <img class="canvas" src="images/elements/overlay/gen1&2/gamearea.png" />
                    <img v-show="gameName() == `Pokemon Yellow`" class="canvas" src="images/exp_bar/stats.png"/>
                    <img v-show="gameName() == `Pokemon Yellow`" class="canvas" src="images/exp_bar/exp_bar.png"/>
                    <div class="exp_growthRate">{{ growthRate(starterName) }}</div>
                    <div class="genericLabels timerLabel">time played at 4x game speed</div>
                    <div class="genericLabels resetsLabel">resets</div>
                </div>
<!------ DEBUGGING ---------------------------------------------------------------------------------------------------------------------------->
                <div class="gamestateContainter">
                    <div>GamestateVariable: {{ g1stateVariable }}</div><br>
                    Dynamic Accuracy:<br>
                    Move1: {{ moveAccuracyEvasionDynamic(s1dynamic.move1.value) }}%<br>
                    Move2: {{ moveAccuracyEvasionDynamic(s1dynamic.move2.value) }}%<br>
                    Move3: {{ moveAccuracyEvasionDynamic(s1dynamic.move3.value) }}%<br>
                    Move4: {{ moveAccuracyEvasionDynamic(s1dynamic.move4.value) }}%<br>
                    <br>
                    <br>
                    Player Damage Ranges:<br>
                    {{pascalCaseSpace(camelCase(moveDynamic(1)))}}: {{ damageCalculation(s1dynamic, battEn, moveDynamic(1), "Player")[2] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(1), "Player")[3] }}% ({{ damageCalculation(s1dynamic, battEn, moveDynamic(1), "Player")[0] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(1), "Player")[1] }})<br>
                    {{pascalCaseSpace(camelCase(moveDynamic(2)))}}: {{ damageCalculation(s1dynamic, battEn, moveDynamic(2), "Player")[2] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(2), "Player")[3] }}% ({{ damageCalculation(s1dynamic, battEn, moveDynamic(2), "Player")[0] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(2), "Player")[1] }})<br>
                    {{pascalCaseSpace(camelCase(moveDynamic(3)))}}: {{ damageCalculation(s1dynamic, battEn, moveDynamic(3), "Player")[2] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(3), "Player")[3] }}% ({{ damageCalculation(s1dynamic, battEn, moveDynamic(3), "Player")[0] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(3), "Player")[1] }})<br>
                    {{pascalCaseSpace(camelCase(moveDynamic(4)))}}: {{ damageCalculation(s1dynamic, battEn, moveDynamic(4), "Player")[2] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(4), "Player")[3] }}% ({{ damageCalculation(s1dynamic, battEn, moveDynamic(4), "Player")[0] }}-{{ damageCalculation(s1dynamic, battEn, moveDynamic(4), "Player")[1] }})<br>
                    <br>
                    <br>
                    AI Damage Ranges<br>
                    {{pascalCaseSpace(camelCase(battEn.move1.value))}}: {{ damageCalculation(battEn, s1dynamic, battEn.move1.value, "AI")[2] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move1.value, "AI")[3] }}% ({{ damageCalculation(battEn, s1dynamic, battEn.move1.value, "AI")[0] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move1.value, "AI")[1] }})<br>
                    {{pascalCaseSpace(camelCase(battEn.move2.value))}}: {{ damageCalculation(battEn, s1dynamic, battEn.move2.value, "AI")[2] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move2.value, "AI")[3] }}% ({{ damageCalculation(battEn, s1dynamic, battEn.move2.value, "AI")[0] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move2.value, "AI")[1] }})<br>
                    {{pascalCaseSpace(camelCase(battEn.move3.value))}}: {{ damageCalculation(battEn, s1dynamic, battEn.move3.value, "AI")[2] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move3.value, "AI")[3] }}% ({{ damageCalculation(battEn, s1dynamic, battEn.move3.value, "AI")[0] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move3.value, "AI")[1] }})<br>
                    {{pascalCaseSpace(camelCase(battEn.move4.value))}}: {{ damageCalculation(battEn, s1dynamic, battEn.move4.value, "AI")[2] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move4.value, "AI")[3] }}% ({{ damageCalculation(battEn, s1dynamic, battEn.move4.value, "AI")[0] }}-{{ damageCalculation(battEn, s1dynamic, battEn.move4.value, "AI")[1] }})<br>
                    <br>
                    <br>
                    Speed Comparison: {{ speedComparison(s1dynamic, battEn) }}<br>
                </div>

<!------ TYPE ICONS --------------------------------------------------------------------------------------------------------------------------->
                <div class="typeContainer">
                    <div v-if="typeIcons == true && pkmnType(1, s1.type1.value, s1.type2.value) == pkmnType(2, s1.type1.value, s1.type2.value)" class="type">
                        <img :src="pkmnType(1, s1.type1.value, s1.type2.value)" />
                    </div>
                    <div v-else-if="typeIcons == true && pkmnType(1, s1.type1.value, s1.type2.value) != pkmnType(2, s1.type1.value, s1.type2.value)" class="type">
                        <img :src="pkmnType(1, s1.type1.value, s1.type2.value)" />
                        <img :src="pkmnType(2, s1.type1.value, s1.type2.value)" />
                    </div>
                </div>
    
<!--------- BADGE ICONS ---------------------------------------------------------------------------------------------------------------------->
                <div class="badgesBar">          
                    <img v-show="map.player.badges.badge1.value === true" class="badgeBoostStyle badgeBoostAtk" :src="badgeGraphic(map.player.badges.badge1)" style="top: 914px; opacity: .3; left: 22px; z-index: 2;" />
                    <img v-show="map.player.badges.badge3.value === true" class="badgeBoostStyle badgeBoostDef" :src="badgeGraphic(map.player.badges.badge3)" style="top: 976px; opacity: .3; left: 22px; z-index: 2;" />                    
                    <img v-show="map.player.badges.badge5.value === true" class="badgeBoostStyle badgeBoostSpd" :src="badgeGraphic(map.player.badges.badge5)" style="top: 976px; opacity: .3; left: 206px; z-index: 2;" />                    
                    <img v-show="map.player.badges.badge7.value === true" class="badgeBoostStyle badgeBoostSpc" :src="badgeGraphic(map.player.badges.badge7)" style="top: 914px; opacity: .3; left: 206px; z-index: 2;"/>      
                </div>                         
    
<!-- BASE STATS -------------------------------------------------------------------------------->
                <div class="statsContainer">  
                    <div v-if="g1stateVariable == `Base Stats`">
                        <div class="statsLabelStyle statsLabelsColumn1">
                            HP:<br>
                            Atk:<br>
                            Def:<br>
                        </div>
                        <div class="statsLabelStyle statsLabelsColumn2">
                            <br>
                            Spc:<br>
                            Spd:<br>
                        </div>
                        <div class="statsheader">Base Stats</div>
                        <div class="statsColumnStyle statsColumn1">
                            {{ pokemon(starter).baseHp }}<br>
                            {{ pokemon(starter).baseAtk }}<br>
                            {{ pokemon(starter).baseDef }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ pokemon(starter).critRate }}%</div>
                        <div class="statsColumnStyle statsColumn2">
                            <br>
                            {{ pokemon(starter).baseSpc }}<br>
                            {{ pokemon(starter).baseSpd }}<br>
                        </div>
                    </div>
    
<!-- OVERWORLD STATS --------------------------------------------------------------------------->
                    <div v-if="g1stateVariable == `Overworld` || g1stateVariable == `To Battle`">
                        <div class="statsLabelStyle statsLabelsColumn1">
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">HP:<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Atk:<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Def:<br></span>
                        </div>

                        <div class="statsLabelStyle statsLabelsColumn2">
                            <br>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Spc:<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Spd:<br></span>
                        </div>
                        <div>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminHPLabel">
                                HP Up: 
                                <br>
                                <span class="vitaminsStyle vitaminHP">{{statExp(map.player.team[0].statExpHp)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminAtkLabel">
                                Protein: 
                                <br>
                                <span class="vitaminsStyle vitaminAtk">{{statExp(map.player.team[0].statExpAttack)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminDefLabel">
                                Iron: 
                                <br>
                                <span class="vitaminsStyle vitaminDef">{{statExp(map.player.team[0].statExpDefense)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminSpcLabel">
                                Calcium: 
                                <br>
                                <span class="vitaminsStyle vitaminSpc">{{statExp(map.player.team[0].statExpSpecial)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminSpdLabel">
                                Carbos: 
                                <br>
                                <span class="vitaminsStyle vitaminSpd">{{statExp(map.player.team[0].statExpSpeed)}}</span>
                            </span>
                        </div>

                        <div class="statsheader">Level {{ map.player.team[0].level.value }}</div>
                        <div class="statsColumnStyle statsColumn1">
                            {{ map.player.team[0].maxHp }}<br>
                            {{ badgeBoost(map.player.badges.badge1.value, map.player.team[0].attack.value) }}<br>
                            {{ badgeBoost(map.player.badges.badge3.value, map.player.team[0].defense.value) }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ pokemon(starter).critRate }}%</div>
                        <div class="statsColumnStyle statsColumn2">
                            <br>
                            {{ badgeBoost(mapper.properties.player.badges.badge7.value, mapper.properties.player.team[0].special.value) }}<br>
                            {{ badgeBoost(mapper.properties.player.badges.badge5.value, mapper.properties.player.team[0].speed.value) }}<br>
                        </div>
                    </div>
    
<!-- BATTLE STATS ----------------------------------------------------------------------------->
                    <div v-if="g1stateVariable == `Battle` || g1stateVariable == `From Battle`">
                        <div class="statsLabelStyle statsLabelsColumn1">
                            <span>HP:<br></span>
                            <span v-bind:style="{ opacity: statLabelOpacity(batt.yourPokemon.modStageAttack), color: statLabelColor(batt.yourPokemon.modStageAttack) }">Atk:<br></span>
                            <span v-bind:style="{ opacity: statLabelOpacity(batt.yourPokemon.modStageDefense), color: statLabelColor(batt.yourPokemon.modStageDefense) }">Def:<br></span>
                        </div>
                        <div class="statsLabelStyle statsLabelsColumn2">
                            <br>
                            <span v-bind:style="{opacity: statLabelOpacity(batt.yourPokemon.modStageSpecial), color: statLabelColor(batt.yourPokemon.modStageSpecial)}">Spc:<br></span>
                            <span v-bind:style="{opacity: statLabelOpacity(batt.yourPokemon.modStageSpeed), color: statLabelColor(batt.yourPokemon.modStageSpeed)}">Spd:<br></span>
                        </div>
                        <div class="statsheader">Level {{ mapper.properties.player.team[0].level.value }}</div>
                        <div class="statsColumnStyle statsColumn1">
                            {{ mapper.properties.player.team[0].maxHp }}<br>
                            {{ batt.yourPokemon.battleStatAttack }}<br>
                            {{ batt.yourPokemon.battleStatDefense }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ pokemon(starter).critRate }}%</div>
                        <div class="statsColumnStyle statsColumn2">
                            <br>
                            {{ batt.yourPokemon.battleStatSpecial }}<br>
                            {{ batt.yourPokemon.battleStatSpeed }}<br>
                        </div>
                        <div v-bind:style="{ color: statLabelColor(batt.yourPokemon.modStageAttack)}" class="atkMod">{{ stageModifiers(batt.yourPokemon.modStageAttack) }}</div>
                        <div v-bind:style="{ color: statLabelColor(batt.yourPokemon.modStageDefense)}" class="defMod">{{ stageModifiers(batt.yourPokemon.modStageDefense) }}</div>
                        <div v-bind:style="{ color: statLabelColor(batt.yourPokemon.modStageSpecial)}" class="spcMod">{{ stageModifiers(batt.yourPokemon.modStageSpecial) }}</div>
                        <div v-bind:style="{ color: statLabelColor(batt.yourPokemon.modStageAttack)}" class="spdMod">{{ stageModifiers(batt.yourPokemon.modStageSpeed) }}</div>
                    </div>
                </div>  
    
<!--------- MOVESET -------------------------------------------------------------------------------------------------------------->
                <div class="movesetContainer">
                    <div class="movesetLabel labelMoves">moves</div>
                    <div class="movesetLabel labelPwr">pwr.</div>
                    <div class="movesetLabel labelPP">pp</div>
                    <div v-for="move in pkmnMoves">
                        <div v-if="mapper.properties.player.team[0].level > 0 && mapper.properties.player.team[0][move].value != null">
                            <img :class="`movesetStyling iconStyling ${move}icon`" :src="moveTypeIcon(s1dynamic[move].value)" />
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling moveStyling ${move}`">{{ pascalCaseSpace(camelCase(s1dynamic[move].value)) }}</div>
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling powerStyling ${move}`" :key="typeEffectiveness(s1dynamic[move].value)">{{ typeEffectiveness(s1dynamic[move].value) }}</div>
                            <!-- <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling accuracyStyling ${move}accuracy`">{{ moveAccuracyEvasionDynamic(s1dynamic[move].value) }}%</div> -->
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling ppStyling ${move}`" v-bind:style="{ color: ppValueColor(mapper.properties.player.team[0].move1pp) }">{{ mapper.properties.player.team[0][move + "pp"] }}</div>
                        </div>
                    </div>
                </div>
          
<!------- ENEMY GRAPHIC ------------------------------------------------------------------------------------------------------------------->
                <transition name="fade">
                    <div v-if="((g1stateVariable == `Battle` || g1stateVariable == `To Battle` || g1stateVariable == `From Battle`) && g1trainerEnemySelector(batt.trainer.class.value) == 1) && battleGraphic == true" style="position: absolute;" key=1>
                        <div v-if="showSpecialTrainerGraphics == true && developmentFeatures == true">
                            <img class="floor" v-show="specialTrainerGraphics() != null && g1stateVariable == `Battle`" src="images/trainers/floor.png" />
                            <div class="specialTrainerGraphics">
                                <img :src="specialTrainerGraphics()"/>
                            </div>
                        </div>
                        <div class="trainerLabel">{{pascalCaseDot(pascalCaseSpace(fixTrainerName(batt.trainer.class.value, batt.trainer.number)))}}</div>
                        <img class="enemyPng" :src="`images/enemy_area/${starterName.toLowerCase()}${overlayName}.png`" :style="battlePokemonCrop()"/>
                        <div class="enemyGraphic">
                            <div v-for="x in pkmnSlots">
                                <div v-show="currentTrainer.pokemon[x]?.name != undefined" :class="`ePkmnStyle ePkmn${x + 1}`">
                                    <img class="ePkmnSprite" :src="`images/pokemon/${currentTrainer.pokemon[x]?.name}.png`" />
                                    <div class="ePkmnSpecies">{{currentTrainer.pokemon[x]?.name}}</div>
                                    <div class="ePkmnMoveStyle ePkmnMove1">{{currentTrainer.pokemon[x]?.moves[0]}}</div>
                                    <div class="ePkmnMoveStyle ePkmnMove2">{{currentTrainer.pokemon[x]?.moves[1]}}</div>
                                    <div class="ePkmnMoveStyle ePkmnMove3">{{currentTrainer.pokemon[x]?.moves[2]}}</div>
                                    <div class="ePkmnMoveStyle ePkmnMove4">{{currentTrainer.pokemon[x]?.moves[3]}}</div>
                                    <div class="ePkmnStatsStyle ePkmnHp">{{currentTrainer.pokemon[x]?.hp}}</div>
                                    <div class="ePkmnStatsStyle ePkmnAtk">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"attack",currentTrainer.pokemon[x]?.atk,"enemyPokemon")}}</div>
                                    <div class="ePkmnStatsStyle ePkmnDef">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"defense",currentTrainer.pokemon[x]?.def,"enemyPokemon")}}</div>
                                    <div class="ePkmnStatsStyle ePkmnSpd">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"speed",currentTrainer.pokemon[x]?.spd,"enemyPokemon")}}</div>
                                    <div class="ePkmnStatsStyle ePkmnSpc">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"special",currentTrainer.pokemon[x]?.spc,"enemyPokemon")}}</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div v-else class="movepoolContainer" key=2>
                        <img class="rightBar" :src="`images/movepool/${starterName.toLowerCase()}${overlayName}.png`" />
                        <div class="movepoolLabel">Movepool</div>
                    </div>
                </transition>
<!--------- BATTLE POP UPS -------------------------------------------------------------------------------------------------------------------->
                <div v-if="battlePopUps == true && developmentFeatures == true" style="position: absolute;">
                    <transition name="fade">
                        <div v-show="batt.yourPokemon.modStageAccuracy.value != 0 && g1stateVariable == `Battle`">
                            <img src="images/pop_ups/accuracy.png" style="position: absolute; opacity: .9;">
                            <div class="popUpsStyle accuracyLabel">Accuracy:</div>
                            <div class="popUpsStyle accuracyMod">{{ accEva(batt.yourPokemon.modStageAccuracy.value) }}</div>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div v-show="batt.yourPokemon.modStageEvasion.value != 0 && g1stateVariable == `Battle`">
                            <img src="images/pop_ups/evasion.png" style="position: absolute; opacity: .9;">
                            <div class="popUpsStyle evasionLabel">Evasion:</div>
                            <div class="popUpsStyle evasionMod">{{ accEva(batt.yourPokemon.modStageEvasion.value) }}</div>
                        </div>
                    </transition>
                    <!-- <transition name="fade">
                        <div v-show="batt.effects.reflect.value == true && g1stateVariable == `Battle`">
                            <div style="position: absolute;">Reflect</div>
                            <img src="images/pop_ups/screen.png" style="position: absolute;">
                        </div>
                    </transition>
                    <transition v-show="batt.effects.lightScreen.value == true && g1stateVariable == `Battle`" name="fade">
                        <img src="images/pop_ups/screen.png">
                        <div>Light Screen</div>
                    </transition>
                    <transition v-show="batt.effects.confusion.value == true && g1stateVariable == `Battle`" name="fade">
                        <div>Confused</div>
                    </transition>
                    <transition v-show="batt.effects.leechSeeded.value == true && g1stateVariable == `Battle`" name="fade">
                        <div>Leech Seed</div>
                    </transition>
                    <transition v-show="s1.statusCondition.value != null" name="fade">
                        <div>{{ pascalCaseSpace(s1.statusCondition.value) }}</div>
                    </transition> -->
                    <div v-if="developmentFeatures == true" class="round-gradient">
                        <div style="text-decoration: underline;">Effects:</div>
                        <div v-for="effect in fieldEffects" >
                            <transition name="fade">
                                <div v-if="batt.yourPokemon.effects[effect].value == true">{{ camelCase(effect) }}</div>
                            </transition>
                        </div>
                    </div>
                </div>
                
<!--------- EXP BAR -------------------------------------------------------------------------------------------------------------------->
                <div v-show="expBarToggle == true" class="expBar">
                    <img class="expLabelGen1" src="images/exp_bar/exp_label.png" />
                    <div class="expTextGen2">Exp:</div>
                    <div class="expMeterStyle expMeterOuter"><div class="expMeterStyle expMeterInner" ref="expBar" :style="{ width: expPercent(s1) + '%' }"></div></div>
                </div>
            </div>
        </div>
    </div>

<!------ JAVASCRIPT --------------------------------------------------------------------------------------------------------------------->
    <script src="https://unpkg.com/@microsoft/signalr@latest/dist/browser/signalr.min.js"></script> 
    <script src="https://unpkg.com/vue@latest/dist/vue.global.js"></script>
    <script src="http://localhost:8085/dist/gameHookMapperClient.js"></script>
    <script src="data/gen1data.js"></script>
    <script src="data/gen1dataGrowthMovepool.js"></script>
    <script src="data/gen1moves.js"></script>
    <script src="data/gen1trainers.js"></script>
    <script src="data/gen1YellowTrainers.js"></script>
    <script src="data/gen1RedBlueTrainers.js"></script>
    <script src="data/type-effectiveness.js"></script>
    <script src="data/stage-modifiers.js"></script>
    <script src="data/statusConditions.js"></script>
    <script src="data/venomothStartingMoves.js"></script>
    <script type="text/javascript" src="scripts/vue.js"></script>
</body>