* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    height: 1920px; /* Fixed canvas size */
    width: 1080px;

    /* Color blending mode */
    --color_Lapras: #146793;

    /* Overlay Colors */
    --gradient1: hsl(0, 55%, 60%);
    --gradient2: hsl(0, 55%, 63%);
    --gradient3: hsl(0, 55%, 72%);
    --gradient4: hsl(0, 55%, 78%);
    --gradient5: hsl(0, 55%, 80%);
    --gradient6: hsl(0, 55%, 78%);
    --gradient7: hsl(0, 55%, 72%);
    --gradient8: hsl(0, 55%, 63%);
    --gradient9: hsl(0, 55%, 60%);
    --outline1: #808080;
    --outline2: #4d4d4d;
    --outline3: #000000;

    /* Overlay Gradients */
    --gradient1: hsl(0, 55%, 60%);
    --gradient2: hsl(0, 55%, 63%);
    --gradient3: hsl(0, 55%, 72%);
    --gradient4: hsl(0, 55%, 78%);
    --gradient5: hsl(0, 55%, 80%);
    --gradient6: hsl(0, 55%, 78%);
    --gradient7: hsl(0, 55%, 72%);
    --gradient8: hsl(0, 55%, 63%);
    --gradient9: hsl(0, 55%, 60%);
    --outline1: #808080;
    --outline2: #4d4d4d;
    --outline3: #000000;

    /* Movepool Type Colours */
    --normal:   #a8a878;
    --fighting: #c03028;
    --grass:    #78c850;
    --fire:     #f08030;
    --water:    #6890f0;
    --electric: #f3d230;
    --ground:   #e0c068;
    --rock:     #b8a038;
    --psychic:  #f85888;
    --poison:   #a040a0;
    --flying:   #a890f0;
    --bug:      #a8b820;
    --ice:      #98d8d8;
    --ghost:    #705898;
    --dragon:   #7038f8;
    --steel:    #b8b8d0;
    --dark:     #705848;
    --fairy:    #ee99ac;

    /* Stat Colours */
    --hp:     #ff5959;
    --atk:    #f5ac78;
    --def:    #fae078;
    --spc:    #8ec7bc;
    --spcAtk: #9db7f5;
    --spcDef: #a7db8d;
    --spd:    #fa92b2;
    --dark_hp:     #ff0000;
    --dark_atk:    #f08030;
    --dark_def:    #f7c80c;
    --dark_spc:    #28917c;
    --dark_spcAtk: #6890f0;
    --dark_spcDef: #78c850;
    --dark_spd:    #e95380;

    /* Stat Gradients */

    /* Default Border Colours */
    --normal1:   #6d6d4e;
    --normal2:   #a8a878;
    --normal3:   #c6c6a7;
    --fighting1: #791c17;
    --fighting2: #bf2923;
    --fighting3: #d67873;
    --grass1:    #497d30;
    --grass2:    #78c850;
    --grass3:    #a7db8d;
    --fire1:     #9c531f;
    --fire2:     #f08030;
    --fire3:     #f5ac78;
    --water1:    #445e9c;
    --water2:    #6890f0;
    --water3:    #9db7f5;
    --electric1: #a1871f;
    --electric2: #f8d030;
    --electric3: #fae078;
    --ground1:   #927d44;
    --ground2:   #e0c068;
    --ground3:   #ebd69d;
    --rock1:     #716019;
    --rock2:     #b89f34;
    --rock3:     #d1c17d;
    --psychic1:  #9c3152;
    --psychic2:  #fa5889;
    --psychic3:  #fa92b2;
    --poison1:   #682a68;
    --poison2:   #a743a7;
    --poison3:   #c183c1;
    --flying1:   #675797;
    --flying2:   #b294e2;
    --flying3:   #c6b7f5;
    --bug1:      #697413;
    --bug2:      #a9bf1f;
    --bug3:      #c6d16e;
    --ice1:      #588585;
    --ice2:      #98dbdb;
    --ice3:      #bce6e6;
    --ghost1:    #4f4067;
    --ghost2:    #6e5597;
    --ghost3:    #a292bc;
    --dragon1:   #3b139a;
    --dragon2:   #6432dd;
    --dragon3:   #a27dfa;
    --steel1:    #737382;
    --steel2:    #bcbcd5;
    --steel3:    #d1d1e0;
    --dark1:     #3b291e;
    --dark2:     #695948;
    --dark3:     #a29288;
    --fairy1:    #9b6470;
    --fairy2:    #ee99ac;
    --fairy3:    #f4bdc9;

    /* Exp Bar Colours */
    --expBarBackground: linear-gradient(rgb(239, 239, 239), rgb(157, 157, 157));
    --expBarExperience: linear-gradient(90deg,hsl(189, 92%, 45%), hsl(187, 100%, 69%));
}
@font-face {
    src: url(fonts/Play-Bold.ttf);
    font-family: osb;
}
@font-face {
    src: url(fonts/TitanOne-Regular.ttf);
    font-family: titan;
}
@font-face {
    src: url(fonts/Play-Bold.ttf);
    font-family: play;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Hide scrollbars */
    background-color: #ffffff;
}
.absolute {
    position: absolute;
}
.mainContainer {
    width: 1920px;
    height: 1080px;

    font-family: titan;
    font-size: 18px;

    display: grid;
    grid-template-columns: 8px 384px 8px 1120px 8px 384px 8px;
    grid-template-rows: repeat(60, 1fr);
}
.round-gradient {
    position: absolute;
    top: 442px;
    left: 16px;
    padding: 2px;
    border-radius: 5px;
    font-family: play;
    background: linear-gradient(to left, 
          var(--gradient1)   0%,
          var(--gradient2)   4%,
          var(--gradient3)  21%,
          var(--gradient4)  37%,
          var(--gradient5)  50%,
          var(--gradient6)  63%,
          var(--gradient7)  79%,
          var(--gradient8)  97%,
          var(--gradient9) 100%
      );
    opacity: .9;
box-shadow:
    0 0 0 2px var(--outline1), 
    0 0 0 4px var(--outline2), 
    0 0 0 6px var(--outline3)
    ;
}

.buttonStyle {
    pointer-events: auto; 
    position: relative; 
    width: 360px; 
    height: 40px; 
    font-size: 24px; 
    background: #a7ff92; 
    font-family: Play;
}
.checkBoxStyle {
    pointer-events: auto; 
    position: relative; 
    width: 20px; 
    height: 20px; 
    font-size: 24px; 
    background: #649c55; 
    font-family: Play;
}
.testingArea1 {
    display: block;
    border: 4px solid #000000;
    padding: 8px;
    position: absolute;
    font-family: play;
    font-size: 24px;
    line-height: 26px;
    top: 55px;
    left: 425px;
    width: 520px;
    height: 972px;
}
.testingArea2 {
    display: block;
    border: 4px solid #000000;
    padding: 8px;
    position: absolute;
    font-family: play;
    font-size: 24px;
    line-height: 26px;
    top: 55px;
    left: 975px;
    width: 520px;
    height: 972px;
}
.pokemon_art {
    display: block;
    border: 4px solid #ff000000;
    padding: 8px;
    position: absolute;
    font-family: play;
    font-size: 24px;
    line-height: 26px;
    filter: drop-shadow(1px 1px 1px #000000c5);
    filter: drop-shadow(2px 2px 2px #0000009c);
    top: 360px;
    left: -10px;
    width: 420px;
    height: 420px;
}

.enemyPng {
    display: block;
    position: absolute;
    top: 0px;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    object-position: top right;
}
.ePkmnStyle {
    position: relative;
    width: 390px;
}
.ePkmn1 { top: 31px; }
.ePkmn2 { top: 192px; }
.ePkmn3 { top: 353px; }
.ePkmn4 { top: 514px; }
.ePkmn5 { top: 675px; }
.ePkmn6 { top: 836px; }

.ePkmnSpecies {
    position: absolute;
    /* border: 1px solid rgb(0, 255, 149); */
    font-size: 18px;
    font-family: titan;
    width: 138px;
    opacity: .7;
    text-align: center;
    top: 7px;
    left: 9px;
}
.ePkmnSprite {
    position: absolute;
    /* border: 1px solid rgb(255, 0, 0); */
    max-width: 115px;
    max-height: 115px;
    left: 18px;
    top: 30px;
    transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
}
.enemyStatsArea {
    display: block;
    max-width:1920px;
    max-height:1080px;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
}
.ePkmnSpeedComparison {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.267);
    width: 127px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    left: 11px;
    top: 124px;
    border-radius: 6px;
    opacity: .8;
    filter: drop-shadow(1px 1px 1px #00000096);
    background-color: #dfdfdfad;
    transition: background-color 500ms ease-in-out, opacity 500ms ease-in-out;
}
.damageRangeLabels {
    position: absolute;
    width: 70px;
    font-size: 13px;
    line-height: 22px;
    transform: rotate(-90deg);
    text-align: center;
    border-radius: 6px;
    filter: drop-shadow(1px 1px 1px #00000096);
    opacity: .55;
    left: 122px;
    transition: background-color 500ms ease-in-out;
    border: 1px solid #a8282800;
    transition: background-color 500ms ease-in-out, opacity 500ms ease-in-out;
}
.ePkmnPlayerDamageRangeLabel {
    top: 34px;
}
.ePkmnEnemyDamageRangeLabel {
    top: 106px;
}
.ePkmnMoveStyle {
    position: absolute;
    /* border: 1px solid rgb(47, 0, 255); */
    width: 190px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    left: 190px;
}
.opacityTransition { transition: opacity 500ms ease-in-out;}
.ePkmnMove1 { top: 12px; }
.ePkmnMove2 { top: 48px; }
.ePkmnMove3 { top: 84px; }
.ePkmnMove4 { top: 119px; }
.ePkmnRanges {
    /* left: 148px;
    width: 222px;
    border: 1px solid #a8282800; */
    left: 171px;
    width: 199px;
    border: 1px solid #a8282800;
}
.ePkmnPlayerRange { 
    top: 13px; 
}
.ePkmnEnemyRange { 
    top: 84px; 
}

.ePkmnStatsStyle {
    position: absolute;
    /* border: 1px solid rgb(255, 0, 0); */
    width: 50px;
    text-align: center;
    left: 146.5px;
}
.ePkmnHp  { top: 11px; }
.ePkmnAtk { top: 39px; }
.ePkmnDef { top: 67px; }
.ePkmnSpd { top: 124px; }
.ePkmnSpc { top: 95px; }

.enemyMods {
    position: absolute;
    font-size: 20px;
    width: 25px;
    height: 25px;
    line-height: 24px;
    /* border: 1px solid #000; */
    text-align: center;
    border-radius: 15px;
    background: #a1a1a1;
    filter: drop-shadow(0px 0px 2px);
    left: 192px;
    opacity: 1;
}
.attackMod {
    top: 34px;
}
.defenseMod {
    top: 63px;
}
.specialMod {
    top: 92px;
}
.speedMod {
    top: 124px;
}

.enemyGraphic {
    display: block;
    position: absolute;
    font-family: play;
    font-size: 24px;
    top: 50px;
    left: 1530px;
    /* left: 930px; */
}
.movesetContainer {
    border: 3px solid #00e90000;
    grid-row-start: 19;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}
.statsContainer {
    border: 3px solid #0000ff00;
    grid-row-start: 45;
    grid-row-end: 59;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}
.typeContainer {
    border: 3px solid #b41ac200;
    grid-row-start: 41;
    grid-row-end: 44;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}
.movepoolContainer {
    border: 3px solid #0000ff00;
    grid-row-start: 3;
    grid-row-end: 59;
    grid-column-start: 6;
    grid-column-end: 7;
    position: relative;
}
.exp_growthRate {
    position: absolute;
    font-family: play;
    line-height: 26px;
    font-size: 21px;
    top: 809px;
    left: 80px;
    width: 296px;
    text-align: center;
    border: 1px solid rgba(255, 0, 0, 0);
    z-index: 500;
}
.genericLabels {
    position: absolute;
    opacity: .72;
}
.timerLabel {
    top: 41px;
    left: 32px;
}
.resetsLabel {
    top: 329px;
    left: 30px;
}
.expTextGen1 {
    position: absolute;
    top: 74px;
    left: 16px;
    z-index: 1005;
    opacity: .72;
}
.expTextGen2 {
    position: absolute;
    font-size: 24px;
    font-family: play;
    top: 46px;
    left: 25px;
    z-index: 1005;
    opacity: .55;
}
.expBar {
    /* border: 1px solid rgb(255, 0, 0); */
    position: absolute;
    width: 400px;
    height: 50px;
    left: 0px;
    top: 770px;
}
.expLabelGen1 {
    position: absolute;
    font-family: play;
    top: -770px;
    left: 1px;
    z-index: 1000;
}
.expLabelGen2 {
    position: absolute;
    top: 33px;
    left: 17px;
    z-index: 1000;
}
.movepoolLabel {
    position: absolute;
    font-family: titan;
    font-size: 30px;
    width: 400px;
    top: 37px;
    left: 1538px;
    text-align: center;
    width: 362px;
    border: 1px solid #df2c2c00;
    z-index: 10101;
}
.trainerLabel {
    position: absolute;
    font-family: titan;
    /* border: 1px solid rgb(255, 0, 0); */
    font-size: 30px;
    top: 40px;
    left: 1520px;
    text-align: center;
    width: 400px;
    /* text-transform: capitalize; */
    z-index: 10001;
}
.floor {
    position: fixed;
    display: block; 
    border: 1px solid rgb(255, 0, 0);
    transform: scale(1);
    top: 850px;
    right: -15px;
    z-index: -50;
}
.specialTrainerGraphics {
    position: fixed;
    display: block;
    border: 1px solid rgb(255, 0, 0);
    object-fit: contain;
    max-width: 400px;
    max-height: 400px;
    z-index: 1000;
    right: 0px;
    bottom: 40px;
    filter: drop-shadow(4px 4px 0px #000);
}
/* CSS BOTTOM LAYERS - OVERLAY ELEMENTS (-100 to -50) */
.canvas {
    display: block;
    max-width:1920px;
    max-height:1080px;
    position: fixed;
    top: 0px;
    left: 0px;
}
/* unused */
.defaultTexture  { z-index: -95; }
.frame           { z-index: -90; }
.gameArea        { z-index: 0; }
.demoBorderStats { z-index: 1; }

/* TYPE ICONS */
.type {
    position: absolute;
    display: flex; 
    justify-content: center; 
    align-items: center;
    align-content: center;
    border: 1px solid #ff0000;
    filter: drop-shadow(8px 8px 15px #000000);
    width: 400px;
    height: 200px;
    top: -92px;
    left: -12px;
    transform: scale(.09)
}
/* STATS (INDEX 0 to 10) */
.statsheader {
    border: 1px solid #ff000000;
    opacity: 1;
    font-size: 40px;
    font-family: play;
    position: absolute;
    text-align: center;
    top: -29px;
    width: 378px;
    z-index: 1;
    /* filter: drop-shadow(1px 1px 0px rgb(70, 70, 70)); */
}
.expMeterStyle {
    border-radius: 4px;
    width: 311px;
}
.expMeterOuter {
    position: absolute;
    border: 1px solid #000;
    background: var(--expBarBackground);
    height: 16px;
    top: 64px;
    left: 70px;
    z-index: 2;
}
.expMeterInner {
    position: relative;    
    background: var(--expBarExperience);
    height: 16px;
    top: -1px;
    border: 1px solid #000000;
}
.critrate {
    font-size: 24px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 74px;
    width: 174px;
    opacity: 1;
    /* border: 1px solid #00e900; */
    line-height: 28px;
    letter-spacing: -1.5px;
    text-transform: lowercase;
    font-family: osb;
    font-weight: 700;
    display:block;
    z-index: 4;
}
.statsLabelStyle {
    font-size: 30px;
    position: absolute;
    line-height: 62px;
    top: 59px;
    z-index: 3;
    opacity: .63;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: osb;
    font-weight: 500;
}
.statsLabelsColumn1 { left: 14px; }
.statsLabelsColumn2 { left: 198px; }

.statsColumnStyle {
    font-size: 54px;
    position: absolute;
    z-index: 4;
    line-height: 62px;
    top: 58px;
    text-align: right;
    font-family: osb;
    font-weight: 500;
}
.statsColumn1 { right: 198px; }
.statsColumn2 { right: 15px; }

.vitaminLabelStyle {
    font-size: 17px;
    position: absolute;
    line-height: 23px;
    z-index: 4;
    text-align: center;
    font-family: osb;
    font-weight: 500;
}
.vitaminHPLabel {
    top: 62px;
    right: 305px;
}
.vitaminAtkLabel {
    top: 126px;
    right: 303px;
}
.vitaminDefLabel {
    top: 186px;
    right: 318px;
}
.vitaminSpcLabel {
    top: 126px;
    right: 117px;
}
.vitaminSpdLabel {
    top: 187px;
    right: 121px;
}
.vitaminsStyle {
    font-size: 36px;
    position: absolute;
    /* border: 1px solid rgb(255, 0, 0); */
    width: 60px;
    line-height: 23px;
    z-index: 4;
    text-align: center;
    font-family: osb;
    font-weight: 500
}
.vitaminHP {
    top: 25px;
    right: 0px;
}
.vitaminAtk {
    top: 24px;
    right: 2px;
}
.vitaminDef {
    top: 24px;
    right: -12px;
}
.vitaminSpc {
    top: 24px;
    right: 4px;
}
.vitaminSpd {
    top: 24px;
    right: 0px;
}
/* BADGES (AS A PART OF THE STATS BAR*/
.badgeBoostStyle {
    display: block;
    opacity: .3;
    max-width:100px;
    max-height:100px;
    position: absolute;
    z-index: 0;
    transform: scale(.85);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.badgeBoostAtk {
    top: 119px;
    left: 11px;
}
.badgeBoostDef {
    top: 181px;
    left: 11px;
}
.badgeBoostSpc{
    top: 119px;
    left: 194px;
}
.badgeBoostSpd {
    top: 181px;
    left: 194px;
}
/* PACKAGE CONTENTS */
.overlayStarter {
	display: block;
    max-width:1920px;
    max-height:1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -50;
}
.titles {
    font-size: 35px;
    position: absolute;
    top: 1080px;
    line-height: 60px;
    font-family: oseb;
    font-weight: 700;
}
.resets {
    display: block;
    max-width: 250;
    position: fixed;
    max-height: 250;
    font-size: 78px;
    z-index: 5;
    top: 379px;
    left: 31px;
    line-height: 60px;
    text-align: center;
    font-family: oseb;
    font-weight: 700;
}


.encounterInfo {
    font-size: 20px;
    position: absolute;
    top: 42px;
    left: 16px;
    line-height: 22px;
    font-family: play;
    font-weight: 700;
    z-index: 12000;
}
.encounterData {
    font-size: 20px;
    position: absolute;
    top: 42px;
    left: 96px;
    line-height: 22px;
    font-family: play;
    font-weight: 700;
    z-index: 12000;
}

.parent {
    text-align: right;
    position: relative;
}
.gametimeClock {
    font-size: 65px;
    display:block;
    position: absolute;
    top: 68px;
    left: 77px;
    line-height: 60px;
    font-family: oseb;
    font-weight: 700;
}
.gametimeFrames {
    font-size: 35px;
    position: absolute;
    top: 78px;
    left: 304px;
    line-height: 60px;
    font-family: oseb;
    font-weight: 700;
}
.inventory {
    font-size: 30px;
    position: absolute;
    text-transform: capitalize;
    top: 84px;
    left: 904px;
    line-height: 28px;
    font-family: play;
    font-weight: 700;
    z-index: 60000;
}
.itemQnty {
    /* border: 1px solid rgb(255, 0, 0); */
    width: 52px;
    text-align: right;
    background: rgb(175, 175, 175);
    border-radius: 10px;
    padding: 7px;
    filter: drop-shadow(1px 1px 2px #000)
}
.itemName {
    /* border: 1px solid rgb(255, 0, 0); */
    width: 282px;
    background: rgb(175, 175, 175);
    border-radius: 10px;
    padding: 7px;
    filter: drop-shadow(1px 1px 2px #000)
}
/* UI ELEMENTS */
.timerUI {
	display: block;
    max-width:1920px;
    max-height:1080px;
    position: fixed;
    transform: scale(.2);
    opacity: .9;
    top: -160px;
    left: -760px;
    z-index: 3;
}
.movesetUI {
	display: block;
    max-width:1920px;
    max-height:1080px;
    position: fixed;
    transform: scale(.2);
    opacity: .9;
    top: -230px;
    left: -760px;
    z-index: 3;
}
.resetsUI {
	display: block;
    max-width:1920px;
    max-height:1080px;
    position: fixed;
    opacity: .9;
    top: 333px;
    left: 7px;
    z-index: 3;
}
.statLabels {
    font-size: 32px;
    position: relative;
    opacity: .6;
    line-height: 37.3px;
    text-align: left;
    font-family: osb;
    font-weight: 500
}
.labelHP {
    right: -35px;
    top: 895px;
}
.labelAtk {
    right: -35px;
    top: 905px;
}
.labelDef {
    right: -35px;
    top: 915px;
}
.labelSpc {
    top: 840px;
    left: 210px;
}
.labelSpd {
    top: 846px;
    left: 210px;
}
.atkMod {
    font-size: 46px;
    color: rgb(0, 0, 0);
    position: absolute;
    line-height: 37.3px;
    border: 1px solid #00e90000;
    width: 52px;
    top: 132px;
    left: 14px;
    z-index: 200;
    text-align: center;
    font-family: osb;
    font-weight: 500
}
.defMod {
    font-size: 46px;
    color: rgb(0, 0, 0);
    position: absolute;
    line-height: 37.3px;
    border: 1px solid #00e90000;
    width: 52px;
    top: 194px;
    left: 14px;
    z-index: 200;
    text-align: center;
    font-family: osb;
    font-weight: 500
}
.spcMod {
    font-size: 46px;
    color: rgb(0, 0, 0);
    position: absolute;
    line-height: 37.3px;
    border: 1px solid #00e90000;
    width: 52px;
    top: 132px;
    right: 129px;
    z-index: 200;
    text-align: center;
    font-family: osb;
    font-weight: 500
}
.spdMod {
    font-size: 46px;
    color: rgb(0, 0, 0);
    position: absolute;
    line-height: 37.3px;
    border: 1px solid #00e90000;
    width: 52px;
    top: 194px;
    right: 129px;
    z-index: 200;
    text-align: center;
    font-family: osb;
    font-weight: 500
}
.playerMoves {
    font-size: 26px;
    position: fixed;
    left: 35px;
    top: 188px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    line-height: 34px;
    text-transform: capitalize;
    text-align: left;
    font-family: osb;
    font-weight: 700
}


/* MOVESET STYLING */
/* LABELS */
.movesetLabel {
    position: absolute;
    font-size: 16px;
    font-family: titan;
    top: 5px;
    opacity: .72;
}
.labelMoves { left: 21px; }
.labelPwr   { left: 212px; }
.labelAcc   { left: 292px; }
.labelPP    { left: 342px; }
/* .labelMoves { left: 21px; }
.labelPwr   { left: 264px; }
.labelAcc   { left: 276px; }
.labelPP    { left: 336px; } */

/* TABLE CONTENTS (MOVE DATA) */
.movesetStyling {
    position: absolute;
    font-size: 30px;
    font-family: osb;
    font-weight: 700;
    line-height: 34px;
}
/* Row positions */
.move1 { top: 25px; }
.move2 { top: 60px; }
.move3 { top: 96px; }
.move4 { top: 132px; }
/* Column positions & style */
.move1icon { top: -23px; }
.move2icon { top: 12px; }
.move3icon { top: 47px; }
.move4icon { top: 82px; }

.iconStyling {
    display: block;
    transform: scale(.24);
    filter: drop-shadow(0px 0px 5px #000000);
    left: -38px;
}
.moveStyling {
    font-size: 22px;
    left: 46px;
    text-align: left;
}
.powerStyling {
    font-size: 22px;
    display: block;
    left: 150px;
    text-align: right;
    width: 100px;
}
.accuracyStyling {
    font-size: 22px;
    display: block;
    left: 224px;
    text-align: right;
    width: 100px;
}
.ppStyling {
    font-size: 22px;
    display: block;
    left: 312px;
    width: 52px;
    font-weight: 700;
    z-index: 5;
    text-align: right;
}
.popUpsStyle {
    display: block;
    border: 1px solid #ff000000;
    position: absolute;
    z-index: 5;
    text-align: center;
    font-family: osb;
    font-weight: 700
}
.popUpLabelStyle {
    opacity: .6;
    text-decoration: underline;
}
.accuracyLabel {
    font-size: 20px;
    left: 125px;
    width: 126px;
    top: 326px;
}
.accuracyMod {
    font-size: 40px;
    left: 122px;
    width: 126px;
    top: 342px;
}
.evasionLabel {
    font-size: 20px;
    left: 261px;
    width: 125px;
    top: 326px;
}
.evasionMod {
    font-size: 40px;
    left: 257px;
    width: 126px;
    top: 342px;
}
.screensLabel {
    font-size: 15px;
    left: 13px;
    width: 103px;
    top: 438px;
}
.screensValue {
    font-size: 20px;
    left: 13px;
    width: 103px;
    top: 460px;
}
.rightBar {
    display: block;
    position: relative;
    right: 1531px;
    top: -39px;
    z-index: 10000;
    opacity: .95;
    filter: drop-shadow(2px 2px 2px #000000)
}
/* ANIMATIONS */
.fade-enter-from   { opacity: 0; }
.fade-enter-to     { opacity: 1; }
.fade-enter-active { transition: opacity 300ms ease-in-out; }
.fade-leave-from   { opacity: 1; }
.fade-leave-to     { opacity: 0; }
.fade-leave-active { transition: opacity 200ms ease-in-out; }

/* ANIMATIONS */
.fadeTrainer-enter-from   { opacity: 0; }
.fadeTrainer-enter-to     { opacity: 1; }
.fadeTrainer-enter-active { transition: opacity 300ms ease-in-out 1000ms; }
.fadeTrainer-leave-from   { opacity: 1; }
.fadeTrainer-leave-to     { opacity: 0; }
.fadeTrainer-leave-active { transition: opacity 200ms ease-in-out 1000ms; }

.fadeDelayed-enter-from   { opacity: 0; }
.fadeDelayed-enter-to     { opacity: 1; }
.fadeDelayed-enter-active { transition: opacity 500ms ease-in-out 400ms; }
.fadeDelayed-leave-from   { opacity: 1; }
.fadeDelayed-leave-to     { opacity: 0; }
.fadeDelayed-leave-active { transition: opacity 200ms ease-in-out; }

.movepool_way {
    text-align: left;
    padding-right: 4px;
    padding-left: 4px;
    /* border: 1px solid #a6c400; */
}
.movepool_move {
    text-align: left;
    padding-right: 4px;
    /* border: 1px solid #a6c400; */
}
.movepool_type {
    text-align: center;
    padding-right: 2px;
    /* border: 1px solid #a6c400; */
}
.movepool_tableC {
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
}
/* :nth-child(odd) {
    background-color: #7e7e7e;
} */
.movepool_header {
    vertical-align: text-bottom;
    line-height: 19px;
}
.movepoolDemo {
    display: block;
    position: absolute;
    /* border: 1px solid #00ff0d00; */
    background-color: #ffffff;
    font-size: 16px;
    line-height: 20px;

    /* line-height: 35px; */
    width: 362px;
    height: 966px;
    font-family: play;
    left: 1539px;
    top: 77px;
    opacity: .9;
    border: none;
}
/* .movepoolDemo tr {
    transform: scaleY(.9);
} */
.movepoolDemo th:nth-child(1) {
    width: 50px;
}
.movepoolDemo th:nth-child(2) {
    width: 162px;
}
.movepoolDemo th:nth-child(3) {
    width: 89px;
}
.movepoolDemo th:nth-child(4) {
    width: 37px;
}
.movepoolDemo th:nth-child(5) {
    width: 46px;
}
.movepoolDemo th:nth-child(6) {
    width: 42px;
}
.movepoolTable {
    font-size: 17px;
}
tr:nth-child(odd) {
    background-color: #cfcfcf;
}



/* NEW STAT AREA CLASSES */
.posAbs {
    position: absolute;
}
.border {
    border: 1px solid #ff0000;
}
.stats {
    position: absolute;
    top: 764px;
    width: 400px;
    height: 282px;
    font-family: osb;
}
.header {
    text-align: center;
    font-size: 40px;
    font-family: play;
    position: absolute;
    width: 400px;
    top: 3px;
}
.statsLabelStyle {
    font-size: 30px;
    line-height: 62px;
    top: 59px;
    z-index: 3;
    opacity: .63;
    color: rgb(0, 0, 0);
    font-family: osb;
    font-weight: 500;
}
.columnStyle {
    position: absolute;
    font-size: 30px;
    font-family: osb;
    font-weight: 500;
    z-index: 2500;
}
.column1 { 
    text-align: left;
    left: 24px; 
}
.column2 { 
    text-align: right;
    left: 96px; 
}
.column3 { 
    text-align: left;
    left: 208px; 
}
.column4 { 
    text-align: right;
    left: 279px; 
}
.row1 { top: 102px; }
.row2 { top: 164px; }
.row3 { top: 226px; }
.statrow1 { top: 86px; }
.statrow2 { top: 150px; }
.statrow3 { top: 212px; }
.statLabelStyle {
    opacity: .6;
}
.statStyle {
    font-size: 54px;
    font-family: osb;
}
.growthRate {
    font-size: 22px;
    font-family: osb;
    left: 80px;
    top: 46px;
    text-align: center;
    width: 296px;
}
.critRateLabel {
    font-size: 21px;
    font-family: osb;
    left: 211px;
    top: 106px;
}
.critRateValue {
    font-size: 22px;
    font-family: osb;
    left: 296px;
    top: 106px;
}

.fadeMod-enter-from   { opacity: 0; }
.fadeMod-enter-to     { opacity: 1; }
.fadeMod-enter-active { transition: opacity 400ms ease-in; }
.fadeMod-leave-from   { opacity: 1; }
.fadeMod-leave-to     { opacity: 0; }
.fadeMod-leave-active { transition: opacity 400ms ease-out; }