<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scott's Thoughts - Generation 1 Overlay - v1.4.0</title>
    <link rel="stylesheet" href="style-yellow.css">
</head>
<body>
    <div id="app">
        <div v-if="ready == false">
            <no_mapper
                :game_name="game_name"
                :starter="starterName"
                :filtered_pokemon_list="filtered_pokemon_list"
                :release="release"
            ></no_mapper>
        </div>
        <div v-else-if="game_name == 'Red' || game_name == 'Blue' || game_name == 'Yellow' || game_name == 'Yellow Legacy'">
            <div class="mainContainer">
                <graphics v-bind="graphicsProps"></graphics>
                
                <!-- Left Panel -->
                <faults 
                    :mode="blackouts_resets" 
                    :resets="playerResetsDisplay" 
                    :blackouts="blackout_counter"
                    :saturation="ui_saturation"
                ></faults>

                <div v-if="battlePopUps == true" style="position: absolute;">
                    <pop_ups
                        :mapper="mapper"
                        :state="state"
                        :ui_saturation="ui_saturation"
                        :battle_fade="battle_fade"
                    ></pop_ups>
                    
                    <bonk_counter
                        :mapper="mapper"
                        :state="state"
                        :show_bonk_counter="show_bonk_counter"
                        :blackouts_resets="blackouts_resets"
                        :ui_saturation="ui_saturation"
                        :dropdown_bonks_items="dropdown_bonks_items"
                    ></bonk_counter>
                    
                    <repel_counter
                        :mapper="mapper"
                        :state="state"
                        :ui_saturation="ui_saturation"
                        :show_repel_counter="show_repel_counter"
                        :blackouts_resets="blackouts_resets"
                    ></repel_counter>
                </div>

                <type_icons :pkmn_type="pkmn_type"></type_icons>

                <moveset
                    :starter="starterName"
                    :mapper="mapper"
                    :state="state"
                    :move_name="move_name"
                    :move_data="g1MoveData"
                    :pokedex_data="g1PokemonData"
                    :dynamic_mon="s1dynamic"
                    :capitalization_format="capitalization_format"
                    :type_data="typeData"
                    :stage_mod_data="stageModifiersData"
                    :display_badge_boosts="display_badge_boosts"
                ></moveset>

                <stats
                    :mapper="mapper"
                    :state="state"    
                    :starter="starterName"    
                    :stats_display="stats_display"
                    :pokedex_old="g1PokemonData"
                    :pokedex_yellow="pokedex_yellow"
                    :display_badge_boosts="display_badge_boosts"
                    :dynamic_mon="s1dynamicReset"
                ></stats>   

                <exp_bar
                    :mapper="mapper"
                    :dynamic-reset="s1dynamicReset"
                    :starter-name="starterName"
                    :g1-pokemon-data="g1PokemonData"
                    :sleep="sleep"
                ></exp_bar>

                <badge_boosts 
                    :mapper="mapper" 
                    :display_badge_boosts="display_badge_boosts"
                ></badge_boosts>

                <badges :mapper="mapper"></badges>

                <timer></timer>

                <!-- Right Panel -->
                <transition name="fade">
                    <div v-if="right_panel == 'Movepool'" key=0>
                        <movepool
                            :starter-name="starterName"
                            :pokemon_version_specific_data="pokemon_version_specific_data"
                            :move-data="g1MoveData"
                            :tmhm-mapping="tmhmMapping"
                            :dynamic-reset="s1dynamicReset"
                            :ui_saturation="ui_saturation"
                            :starting_type_fix="starting_type_fix"
                        ></movepool>
                    </div>
                    <div v-else-if="right_panel == 'Splits'" key=5>
                        <div key=3>
                            <div class="split_label">Splits</div>
                            <div v-if="toggle_compare_splits === 'Followup'">
                                <splits_followup
                                    :ui_type_color_modifier="ui_type_color_modifier"
                                    :starting_type_fix="starting_type_fix"
                                    :compare_splits="compare_splits"
                                    :trainer_name_lookup="trainer_name_lookup"
                                    :ui_saturation="ui_saturation"
                                    :previous_label="previous_label"
                                    :current_label="current_label"
                                ></splits_followup>
                            </div>
                            <div v-else-if="toggle_compare_splits === 'First'">
                                <splits_first
                                    :ui_type_color_modifier="ui_type_color_modifier"
                                    :starting_type_fix="starting_type_fix"
                                    :compare_splits="compare_splits"
                                    :trainer_name_lookup="trainer_name_lookup"
                                    :ui_saturation="ui_saturation"
                                ></splits_first>
                            </div>
                            <div v-else-if="toggle_compare_splits === 'Followup + Summary'">
                                <splits_summary
                                    :ui_type_color_modifier="ui_type_color_modifier"
                                    :starting_type_fix="starting_type_fix"
                                    :compare_splits="compare_splits"
                                    :trainer_name_lookup="trainer_name_lookup"
                                    :ui_saturation="ui_saturation"
                                    :battle_summary_header="battle_summary_header"
                                    :previous_label="previous_label"
                                    :current_label="current_label"
                                    :battle_duration="battle_duration"
                                    :exp_per_second="exp_per_second"
                                    :battle_summary="battle_summary"
                                    :battle_summary_frames="battle_summary_frames"
                                    :battle_summary_battle_number="battle_summary_battle_number"
                                    :battle_summary_exp_gained="battle_summary_exp_gained"
                                    :battle_summary_turns="battle_summary_turns"
                                    :battle_summary_player_turns="battle_summary_player_turns"
                                    :battle_summary_enemy_turns="battle_summary_enemy_turns"
                                    :battle_summary_player_hits="battle_summary_player_hits"
                                    :battle_summary_player_misses="battle_summary_player_misses"
                                    :battle_summary_player_crits="battle_summary_player_crits"
                                    :battle_summary_player_ohkos="battle_summary_player_ohkos"
                                    :battle_summary_enemy_hits="battle_summary_enemy_hits"
                                    :battle_summary_enemy_misses="battle_summary_enemy_misses"
                                    :battle_summary_enemy_crits="battle_summary_enemy_crits"
                                    :battle_summary_enemy_ohkos="battle_summary_enemy_ohkos"
                                    :battle_summary_player_Sx="battle_summary_player_Sx"
                                    :battle_summary_player_4x="battle_summary_player_4x"
                                    :battle_summary_player_2x="battle_summary_player_2x"
                                    :battle_summary_player_1x="battle_summary_player_1x"
                                    :battle_summary_player_Hx="battle_summary_player_Hx"
                                    :battle_summary_player_Qx="battle_summary_player_Qx"
                                    :battle_summary_player_0x="battle_summary_player_0x"
                                    :battle_summary_player_con="battle_summary_player_con"
                                    :battle_summary_player_par="battle_summary_player_par"
                                    :battle_summary_player_brn="battle_summary_player_brn"
                                    :battle_summary_player_frz="battle_summary_player_frz"
                                    :battle_summary_player_psn="battle_summary_player_psn"
                                    :battle_summary_player_bpn="battle_summary_player_bpn"
                                    :battle_summary_player_slp="battle_summary_player_slp"
                                    :battle_summary_enemy_Sx="battle_summary_enemy_Sx"
                                    :battle_summary_enemy_4x="battle_summary_enemy_4x"
                                    :battle_summary_enemy_2x="battle_summary_enemy_2x"
                                    :battle_summary_enemy_1x="battle_summary_enemy_1x"
                                    :battle_summary_enemy_Hx="battle_summary_enemy_Hx"
                                    :battle_summary_enemy_Qx="battle_summary_enemy_Qx"
                                    :battle_summary_enemy_0x="battle_summary_enemy_0x"
                                    :battle_summary_enemy_con="battle_summary_enemy_con"
                                    :battle_summary_enemy_par="battle_summary_enemy_par"
                                    :battle_summary_enemy_brn="battle_summary_enemy_brn"
                                    :battle_summary_enemy_frz="battle_summary_enemy_frz"
                                    :battle_summary_enemy_psn="battle_summary_enemy_psn"
                                    :battle_summary_enemy_bpn="battle_summary_enemy_bpn"
                                    :battle_summary_enemy_slp="battle_summary_enemy_slp"
                                ></splits_summary>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="right_panel == 'Automatic' && (state != 'Base Stats' && (state == 'To Battle' || state == 'Battle') && mapper.properties.battle.type.value == `Trainer`)" style="position: absolute;" key=1>
                        <enemy_graphic
                            :mapper="mapper"
                            :ui_type_color_modifier="ui_type_color_modifier"
                            :capitalization_format="capitalization_format"
                            :move_name="move_name"
                            :speed_comparison_toggle="speed_comparison_toggle"
                            :battle_pokemon_crop="battle_pokemon_crop"
                            :get_enemy_pkmn_styles="get_enemy_pkmn_styles"
                            :enemy_pkmn_faint_types="enemy_pkmn_faint_types"
                            :g1-pokemon-data="g1PokemonData"
                            :g1-yellow-trainers="g1YellowTrainers"
                            :starter-name="starterName"
                            :g1-move-data="g1MoveData"
                            :enemy-state="enemyState"
                            :state="state"
                        ></enemy_graphic>
                    </div>
                    <div v-else-if="right_panel == 'Automatic' && (state == 'Battle' || state == 'From Battle') && (mapper.properties.battle.type.value == `Wild` && show_wild_battles == true)" style="position: absolute;">
                        <wild_pokemon
                            :mapper="mapper"
                            :state="state"
                            :starter-name="starterName"
                            :g1-pokemon-data="g1PokemonData"
                            :g1-move-data="g1MoveData"
                            :g1-yellow-trainers="g1YellowTrainers"
                            :enemy-state="enemyState"
                            :battle_pokemon_crop="battle_pokemon_crop"
                            :batt="batt"
                            :move_name="move_name"
                            :get_enemy_pkmn_styles="get_enemy_pkmn_styles"
                            :enemy_pkmn_faint_types="enemy_pkmn_faint_types"
                            :speed_comparison_toggle="speed_comparison_toggle"
                        ></wild_pokemon>
                    </div>
                    <div v-else-if="key_F14 == true" key=3>
                        <movepool
                            :starter-name="starterName"
                            :pokemon_version_specific_data="pokemon_version_specific_data"
                            :move-data="g1MoveData"
                            :tmhm-mapping="tmhmMapping"
                            :dynamic-reset="s1dynamicReset"
                            :ui_saturation="ui_saturation"
                            :starting_type_fix="starting_type_fix"
                        ></movepool>
                    </div>
                </transition>
                <transition name="fadeDelayed">
                    <div v-if="(specialTrainerGraphics() != null && state != 'Base Stats' && state != 'Overworld' && state != 'From Battle') && mapper.properties.battle.type.value == `Trainer` && right_panel == 'Automatic'" style="position: absolute;" key=1>
                        <img class="canvas" :src="specialTrainerGraphics()"/>
                    </div>
                </transition>
            </div>

            <!-- Game-Area Panel -->
            <div class="testingArea1" style="z-index: 155000;">
                <div>Game:</div>
                <select v-model="game_name" class="dropdownMenu dropdown_menu_column3">
                    <option>Yellow</option>
                    <option v-if="release == false">Yellow Legacy</option>
                    <option>Red</option>
                    <option>Blue</option>
                </select><br>
                <br>
                <div>Timer Setting:</div>
                <!-- <select v-model="timer_settings" class="dropdownMenu dropdown_menu_column3">
                    <option disabled value="">Please select one</option>
                    <option>Real-Time</option>
                    <option>Game-Time</option>
                    <option>Off - Real-Time Label</option>
                    <option>Off - Game-Time Label</option>
                </select><br> -->
                <!-- <button class="buttonStyle buttonStyle_column3" @click="pauseUnpauseTime">Play/Pause</button><br> -->
                <!-- <button class="buttonStyle set_button_style" @click="set_timer">Set</button> -->
                <button class="buttonStyle buttonStyle_column3" @click="this.timer.pauseUnpauseTime()">Play/Pause</button>
                <button class="buttonStyle set_button_style" @click="this.timer.setTimer(this.timer_startTimeOffset)">Set Timer</button><input type="text" class="inputContainer" v-model="timer_startTimeOffset" placeholder="00:00:00.00"/><br>
                <br>
                <!-- <button class="buttonStyle buttonStyle_column3" onClick="openFolder('splits')">Open Splits Folder</button><br> -->
                <!-- <button class="buttonStyle buttonStyle_column3" @click="openFolder(`splits`, game, starterName, ``)">Open Splits Folder</button> -->
                <button class="buttonStyle buttonStyle_column3" @click="openFolder(`splits`, game, starterName, `finishes`)">Open Splits Folder</button>
                <br>
                <br>
                <div v-if="release == false">
                    <table>
                        <tr><td>Test run:</td><td><input class="checkBoxStyle" type="checkbox" v-model="test_run"/></td></tr>
                        <tr><td>Refilming mode:</td><td><input class="checkBoxStyle" type="checkbox" v-model="refilming_mode"/></td></tr>
                        <tr><td>No attempt/split:</td><td><input class="checkBoxStyle" type="checkbox" v-model="no_attempt"/></td></tr>
                    </table>
                    <table v-if="refilming_mode">
                        <tr><td>Attempt:</td><td><input class="inputContainer" type="text" v-model="refilmed_attempt"/></td></tr>
                        <tr><td>Finish:</td><td><input class="inputContainer" type="text" v-model="refilmed_finish"/></td></tr>
                    </table>
                    <br>
                </div>
                <div v-if="test_run == true">
                    <div>Moveset Updating:</div>
                    <input type="text" v-model="move1_replacement" placeholder="Input move 1">
                    <input type="text" v-model="move2_replacement" placeholder="Input move 2">
                    <input type="text" v-model="move3_replacement" placeholder="Input move 3">
                    <input type="text" v-model="move4_replacement" placeholder="Input move 4">
                    <button class="buttonStyle buttonStyle_column3" @click="update_moveset">Update Party Moves</button>
                    <button class="buttonStyle buttonStyle_column3" @click="update_battle_moveset">Update Battle Moves</button>
                    <br>
                    <br>
                    <div>Item Updating:</div>
                    <input type="text" v-model="item1_replacement" placeholder="Input item 1">
                    <input type="text" v-model="item2_replacement" placeholder="Input item 2">
                    <input type="text" v-model="item3_replacement" placeholder="Input item 3">
                    <input type="text" v-model="item4_replacement" placeholder="Input item 4">
                    <button class="buttonStyle buttonStyle_column3" @click="update_items">Update</button>
                    <br>
                    <br>
                </div>
                <div v-if="release == false">
                    <div>Debugging:</div>
                    <table>
                        <tr><td>State:</td><td>{{state}}</td></tr>
                        <tr><td>Mapper State:</td><td>{{mapper.properties.meta.state.value}}</td></tr>
                        <tr><td>Enemy State:</td><td>{{enemyState}}</td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>blackout:</td><td>{{blackout}}</td></tr>
                    </table>
                </div>
            </div>
            <div class="testingArea2" style="z-index: 50000;">
                <div>Solo Pokemon:</div>
                <select v-model="starterName" class="dropdownMenu dropdown_menu_column3" style="background-color: rgb(201, 199, 100)">
                    <option disabled value="">Select a species</option>
                    <option v-for="key in filtered_pokemon_list" :value="`${key}`">{{key}}</option>
                </select><br>
                <div>Search Pokemon:</div>
                <input type="text" v-model="search_term" placeholder="Search for a species">
                <button class="buttonStyle set_starter_button" @click="set_rom_starter">Set ROM Starter</button>
                <button class="buttonStyle new_run_button" @click="newRun">New Run</button>
                <button class="buttonStyle new_run_button" @click="set_encounters">Set Encounters</button>
                <br>
                <button class="buttonStyle comparison_button" @click="load_splits()">Split Comparison</button><br>
                <table>
                    <tr>
                        <td>Previous: </td>
                        <td><input type="text" class="inputContainer" v-model="previous_label" placeholder="Previous"/></td>
                    </tr>
                    <tr>
                        <td>Current: </td>
                        <td><input type="text" class="inputContainer" v-model="current_label" placeholder="Current"/></td>
                    </tr>
                </table>
                <br>
                <table>
                    <tr>
                        <th style="text-align: left;">Attempt:</th>
                        <th>{{this.attempt_number}}</th>
                        <th>
                            <button @click="increment('attempt_number')" class="smallButtonStyle increment">+</button>
                            <button @click="decrement('attempt_number')" class="smallButtonStyle decrement">-</button>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Finished Runs:</th>
                        <th>{{this.finished_run_count}}</th>
                        <th>
                            <button @click="increment('finished_run_count')" class="smallButtonStyle increment">+</button>
                            <button @click="decrement('finished_run_count')" class="smallButtonStyle decrement">-</button>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Resets:</th>
                        <th>{{this.playerResets}}</th>
                        <th>
                            <button @click="increment('playerResets')" class="smallButtonStyle increment">+</button>
                            <button @click="decrement('playerResets')" class="smallButtonStyle decrement">-</button>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Blackouts:</th>
                        <th>{{this.blackout_counter}}</th>
                        <th>
                            <button @click="increment('blackout_counter')" class="smallButtonStyle increment">+</button>
                            <button @click="decrement('blackout_counter')" class="smallButtonStyle decrement">-</button>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Faults:</th>
                        <th>{{this.playerResets + this.blackout_counter}}</th>
                    </tr>
                </table>
                <br>
                <div>Encounter Settings:</div>
                <table>
                    <tr><td>Early Encounters:</td><td><input class="checkBoxStyle" type="checkbox" v-model="toggle_wEarlyEncounters"/></td></tr>
                    <tr><td>No Moon:</td><td><input class="checkBoxStyle" type="checkbox" v-model="toggle_wEarlyEncountersNoMoon"/></td></tr>
                </table>
                <table v-if="game_name == 'Yellow'" class="ui_table">
                    <tr v-if="release == false"><td>Route 1</td>        <td>- Test:</td><td><input      class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_ROUTE1_TEST"/></td></tr>
                    <tr><td>Viridian Forest</td><td>- Pidgey:</td><td><input    class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_VIRIDIAN_FOREST_PIDGEY"/></td></tr>
                    <tr><td>Route 3</td>        <td>- Spearow:</td><td><input   class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_ROUTE3_SPEAROW"/></td></tr>
                    <tr><td>Mt. Moon</td>       <td>- Sandshrew:</td><td><input class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_MTMOON_SANDSHREW"/></td></tr>
                    <tr><td>Route 16</td>       <td>- Doduo:</td><td><input     class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_ROUTE16_DODUO"/></td></tr>
                </table>
                <table v-if="game_name == 'Red' || game_name == 'Blue'" class="ui_table">
                    <tr><td>Route 3</td> <td>- Spearow:</td> <td><input class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_ROUTE3_SPEAROW"/></td></tr>
                    <tr><td>Mt. Moon</td><td>- Geodude:</td> <td><input class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_MTMOON_GEODUDE"/></td></tr>
                    <tr><td>Mt. Moon</td><td>- Paras:</td>   <td><input class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_MTMOON_PARAS"/></td></tr>
                    <tr><td>Route 6</td> <td>- Cut User:</td><td><input class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_ROUTE6_CUT_USER"/></td></tr>
                    <tr><td>Route 16</td><td>- Doduo:</td>   <td><input class="checkBoxStyle" type="checkbox" v-model="toggle_EVENT_ENCOUNTER_ROUTE16_DODUO"/></td></tr>
                </table>
                <br>
            </div>
            <div class="testingArea4" style="z-index: 50000;">
                <div>UI Color:</div>
                <button @click="color_picker" class="buttonStyle buttonStyle_column3">Color Picker</button><br>
                Saturation: <input type="range" min="0" max="2" step="0.1" v-model="ui_saturation"/><br>
                <br>
                <div>Pokemon:</div>
                <table>
                    <tr><td>X-Offset:   </td><td><input type="range" min="-400" max="400" v-model="imageXOffset"/></td></tr>
                    <tr><td>Y-Offset:   </td><td><input type="range" min="-400" max="400" v-model="imageYOffset"/></td></tr>
                    <tr><td>Scale:      </td><td><input type="range" min="0.3"  max="2"   step="0.02" v-model="imageScale"/></td></tr>
                    <tr><td>Saturation: </td><td><input type="range" min="90"   max="150" step="1"    v-model="imageSat"/></td></tr>
                    <tr><td>Rotation:   </td><td><input type="range" min="0"    max="360" step="1"    v-model="imageRotation"/></td></tr>
                    <tr><td>Flip:       </td><td><input class="checkBoxStyle" type="checkbox" v-model="imageFlip"/></td></tr>
                </table>
                <br>
                <div>Background Texture:</div>
                <select v-model="backgroundTexture" class="dropdownMenu dropdown_menu_column3">
                    <option v-for="key in dropdownDownMenuKeys.textures" :key="key" :value="key">
                        {{ key }}
                    </option>
                </select>
                <!-- <img src="images/screenshots/pidgey_pallete.png" /> -->
                <br>
                <table>
                    <tr><td>X-Offset:   </td><td><input type="range" min="-125" max="125" v-model="backgroundXOffset"/></td></tr>
                    <tr><td>Y-Offset:   </td><td><input type="range" min="-125" max="125" v-model="backgroundYOffset"/></td></tr>
                    <tr><td>Scale:      </td><td><input type="range" min="100"  max="200" v-model="backgroundScale"/></td></tr>
                    <tr><td>Brightness: </td><td><input type="range" min="0"    max="200" v-model="backgroundBrightness"/></td></tr>
                    <tr><td>Contrast:   </td><td><input type="range" min="0"    max="200" v-model="backgroundContrast"/></td></tr>
                    <tr><td>Saturation: </td><td><input type="range" min="0"    max="200" v-model="backgroundSaturation"/></td></tr>
                    <tr><td>Blur:       </td><td><input type="range" min="0"    max="10"  v-model="backgroundBlur"/></td></tr>
                    <tr><td>Hue:        </td><td><input type="range" min="0"    max="358" v-model="backgroundHue"/></td></tr>
                    <tr><td>Flip:     </td><td><input class="checkBoxStyle" type="checkbox" v-model="backgroundFlip"/></td></tr>
                </table>
            </div>
            <div class="testingArea3" style="z-index: 50000;">
                <div>Stats:</div>
                <select v-model="stats_display" class="dropdownMenu dropdown_menu_column3">
                    <option>Automatic</option>
                    <option>Badge Boosts</option>
                    <option>Base Stats</option>
                    <option>DVs</option>
                    <option>EVs</option>
                    <option>Detailed EVs</option>
                    <option>Averages</option>
                    <option>Medians</option>
                </select><br>
                <br>
                Right Panel:<br>
                <select v-model="right_panel" class="dropdownMenu dropdown_menu_column3">
                    <option>Automatic</option>
                    <option v-if="release == false">Inventory</option>
                    <option>Movepool</option>
                    <option>Splits</option>
                </select>
                <br>
                Compare splits::<br>
                <select v-model="toggle_compare_splits" class="dropdownMenu dropdown_menu_column3">
                    <option>First</option>
                    <option>Followup</option>
                    <option>Followup + Summary</option>
                </select>
                <br>
                <table>
                    <tr><td>Blackouts?:</td><td><input class="checkBoxStyle" type="checkbox" v-model="enable_blackouts"/></td></tr>
                    <tr><td>Disable right panel hotkeys:</td><td><input class="checkBoxStyle" type="checkbox" v-model="disallow_right_panel_switching"/></td></tr>
                    <tr><td>Automatic post-battle splits:</td><td><input class="checkBoxStyle" type="checkbox" v-model="automatic_post_battle_splits"/></td></tr>
                    <tr><td>Show repel counter:</td><td><input class="checkBoxStyle" type="checkbox" v-model="show_repel_counter"/></td></tr>
                    <tr><td>Show bonk/item counter:</td><td><input class="checkBoxStyle" type="checkbox" v-model="show_bonk_counter"/></td></tr>
                </table>
                <div v-if="show_bonk_counter == true">
                    <select v-model="dropdown_bonks_items" class="dropdownMenu dropdown_menu_column3">
                        <option>Bonks</option>
                        <option>Item Count</option>
                    </select>
                    <br>
                </div>
                <br>
                <div v-if="release == false">
                    <div style="text-decoration: underline;">Graphics Toggles:</div>
                    <table>
                        <tr><td>Wild Pokemon:     </td><td><input class="checkBoxStyle" type="checkbox" v-model="show_wild_battles"/></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Imports -->
    <script src="https://unpkg.com/@microsoft/signalr@7.0.14/dist/browser/signalr.min.js"></script> 
    <script src="packages/vue.global.js"></script>
    <script src="packages/gameHookMapperClient.js"></script>
    <script src="data/g1MoveData.js"></script>
    <script src="data/g1PokemonData.js"></script>
    <script src="data/g1PokemonDataRB.js"></script>
    <script src="data/gen1YellowTrainers.js"></script>
    <script src="data/gen1RedBlueTrainers.js"></script>
    <script src="data/type-effectiveness.js"></script>
    <script src="data/stage-modifiers.js"></script>
    <script src="data/tmhmmapping.js"></script>
    <script src="data/settings.js"></script>
    <script src="data/saved_settings.js"></script>
    <script src="data/deprecated_autosplitter.js"></script>
    <script src="data/autosplitter.js"></script>
    <script src="data/textures.js"></script>
    <script src="data/battle_summary_properties.js"></script>
    <script src="data/pokedex/pokedex_red_blue.js"></script>
    <script src="data/pokedex/pokedex_yellow.js"></script>
    <script src="data/pokedex/pokedex_gold_silver.js"></script>
    <script src="data/pokedex/pokedex_crystal.js"></script>
    <script src="data/backports.js"></script>
    <script src="data/cross_generation_moves.js"></script>
    <script src="settings/application_settings.js"></script>
    <script src="settings/pokemon_settings.js"></script>
    <script src="settings/time_settings.js"></script>
    <script src="autosplitter/trainer_name_lookup.js"></script>
    <script src="autosplitter/split_trainers.js"></script>
    <script src="autosplitter/battle_summary.js"></script>
    <script src="autosplitter/autosplitter_functions.js"></script>
    <script src="methods/text_functions.js"></script>
    <script type="text/javascript" src="frontend.js"></script>
</body>