<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scott's Thoughts - Generation 1 Overlay - v2.0.0</title>
    <link rel="stylesheet" href="style-yellow.css">
</head>
<body>
    <div id="app">
        <div v-if="ready == false">Loading...</div>
        <div v-else>
            <div class="mainContainer">
                <!-- GRAPHICS ---------------------------------------------------------------------------------->
                <div>
                    <img class="canvas" ref="background_texture" :src="textures[backgroundTexture]" 
                        :style="{ 
                            'filter': `blur(${backgroundBlur}px) hue-rotate(${backgroundHue}deg) brightness(${backgroundBrightness}%) contrast(${backgroundContrast}%) saturate(${backgroundSaturation}%)` ,
                            'transform': `scale(${backgroundScale}%) translate(${backgroundXOffset}px, ${-backgroundYOffset}px)`
                        }"/>
                    <img class="canvas" ref="old_background_texture" style="opacity: 0" />
                    <img class="canvas" :src="`images/elements/overlay/gen1&2/frame.png`" />
                    <img class="canvas" :src="`images/elements/floor/pokeball.png`" />
                    <img v-show="mapper.properties.meta.gameName == 'Yellow'" class="pokemon_art" ref="pokemon_art"
                        :style="{
                            'transform': `scale(${imageScale}) ${imageFlip ? 'rotateY(180deg)' : ''} translate(${imageXOffset}px, ${-imageYOffset}px) rotate(${imageRotation}deg)`,
                            'filter': `saturate(${imageSat}%)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(${imageFlip ? '-3px' : '3px'} 3px 3px #000)
                            `
                        }" 
                        :src="`images/pokemon/${s1dynamicReset.species.value}.png`" />
                    <img v-show="mapper.properties.meta.gameName == 'Red and Blue'" class="pokemon_art2" ref="pokemon_art"
                        :style="{
                            'transform': `scale(${imageScale}) ${imageFlip ? 'rotateY(180deg)' : ''} translate(${imageXOffset}px, ${-imageYOffset}px)`,
                            'filter': `saturate(${imageSat}%)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(0 0 0.4px #000)
                            drop-shadow(${imageFlip ? '-3px' : '3px'} 3px 3px #000)
                            `
                        }" 
                        :src="`images/pokemon/Red_and_Blue/${s1dynamicReset.species.value}.png`" />
                    <!-- <div class="colored-image" style="--url: url(images/left_ui/ui.png)"></div> -->

                    <div class="colored-image ds" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/ui/timer.svg)"></div>
                    <div class="colored-image ds" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/ui/moveset.svg)"></div>
                    <div class="colored-image ds" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/ui/resets.svg)"></div>
                    <div class="colored-image ds" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/ui/stats.svg)"></div>
                    <div class="expBar">
                        <div class="expMeterStyle expMeterOuter"><div class="expMeterStyle expMeterInner" ref="expBar"></div></div>
                    </div>
                    <img class="svg" src="images/ui/stats_backgrounds.svg"/>
                    <img class="svg" src="images/ui/exp_bar.svg"/>
                    <img class="svg" style="opacity: .8;" src="images/ui/gamearea.svg"/>


                    <div class="exp_growthRate">{{ growthRate }}</div>
                    <transition name="fade"><div v-show="timer_settings == `Off - Real-Time Label` || timer_settings == `Real-Time`" class="genericLabels timerLabel">time played at 4x game speed</div></transition>
                    <transition name="fade"><div v-show="timer_settings == `Off - Game-Time Label` || timer_settings == `Game-Time`" class="genericLabels timerLabel">gametime</div></transition>
                    <div v-show="key_F16 == `resets`" class="genericLabels resetsLabel">resets</div>
                    <div v-show="key_F16 == `blackouts`" class="genericLabels resetsLabel">blackouts</div>
                </div>
                <!-- TYPE ICONS -------------------------------------------------------------------------------->
                <div class="typeContainer">
                    <div v-if="pkmn_type(1) == pkmn_type(2)" class="type">
                        <img :src="`images/elements/types/${pkmn_type(1)}.png`" />
                    </div>
                    <div v-else class="type">
                        <img :src="`images/elements/types/${pkmn_type(1)}.png`" />
                        <img :src="`images/elements/types/${pkmn_type(2)}.png`" />
                    </div>
                </div>
                <!-- BADGE ICONS ------------------------------------------------------------------------------->
                <div class="badgesBar">          
                    <img v-show="map.player.badges.badge1.value === true" class="badgeBoostStyle badgeBoostAtk" :src="badgeGraphic(map.player.badges.badge1)" style="top: 911px; opacity: .3; left: 22px; z-index: 2;" />
                    <img v-show="map.player.badges.badge3.value === true" class="badgeBoostStyle badgeBoostDef" :src="badgeGraphic(map.player.badges.badge3)" style="top: 973px; opacity: .3; left: 22px; z-index: 2;" />                    
                    <img v-show="map.player.badges.badge5.value === true" class="badgeBoostStyle badgeBoostSpd" :src="badgeGraphic(map.player.badges.badge5)" style="top: 973px; opacity: .3; left: 206px; z-index: 2;" />                    
                    <img v-show="map.player.badges.badge7.value === true" class="badgeBoostStyle badgeBoostSpc" :src="badgeGraphic(map.player.badges.badge7)" style="top: 911px; opacity: .3; left: 206px; z-index: 2;"/>      
                </div>                         
                <!--  STATS ------------------------------------------------------------------------------------->
                <div class="statsContainer">  
                    <!-- BASE STATS --------------------------------------------------------------------------->
                    <div v-if="state == `Base Stats`">
                        <div class="expLabelGen1">Exp:</div>
                        <div class="statsLabelStyle statsLabelsColumn1">HP<br>Atk.<br>Def.<br></div>
                        <div class="statsLabelStyle statsLabelsColumn2"><br>Spc.<br>Spe.<br></div>
                        <div class="statsheader">Base Stats</div>
                        <div class="statsColumnStyle statsColumn1">{{ g1PokemonData[starterName].base_hp }}<br>{{ g1PokemonData[starterName].base_atk }}<br>{{ g1PokemonData[starterName].base_def }}<br></div>
                        <div class="critrate">Crit rate: {{ g1CritRate(g1PokemonData[starterName]) }}%</div>
                        <div class="statsColumnStyle statsColumn2"><br>{{ g1PokemonData[starterName].base_spc }}<br>{{ g1PokemonData[starterName].base_spd }}<br></div>
                    </div>
                    <!-- DVs --------------------------------------------------------------------------->
                    <div v-else-if="mapper.properties.events.got_pokedex.value == false && mapper.properties.events.battled_rival_in_oaks_lab.value == true">
                        <div class="statsLabelStyle statsLabelsColumn1">
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">HP<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Atk.<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Def.<br></span>
                        </div>
                        <div class="statsLabelStyle statsLabelsColumn2">
                            <br>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Spc.<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Spe.<br></span>
                        </div>
                        <div class="statsheader">{{ map.player.team[0].species.value }}'s DVs</div>
                        <div class="statsColumnDVStyle statsColumn1">
                            {{ hp_dv(map.player.team[0].dvAttack.value, map.player.team[0].dvDefense.value, map.player.team[0].dvSpeed.value, map.player.team[0].dvSpecial.value) }}/15<br>
                            {{ map.player.team[0].dvAttack.value }}/15<br>
                            {{ map.player.team[0].dvDefense.value }}/15<br>
                        </div>
                        <div class="critrate">Crit rate: {{ g1CritRate(g1PokemonData[starterName]) }}%</div>
                        <div class="statsColumnDVStyle statsColumn2">
                            <br>
                            {{ map.player.team[0].dvSpecial.value  }}/15<br>
                            {{ map.player.team[0].dvSpeed.value  }}/15<br>
                        </div>
                    </div>
                    <!-- OVERWORLD STATS --------------------------------------------------------------------------->
                    <div v-if="state == `Overworld` || state == `To Battle`">
                        <div class="expLabelGen1">{{decimalToPercentage(calcExpStats(growthRate, this.mapper.properties.player.team[0].expPoints.value).percent)}}%</div>
                        <div class="statsLabelStyle statsLabelsColumn1">
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">HP<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Atk.<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Def.<br></span>
                        </div>
                        <div class="statsLabelStyle statsLabelsColumn2">
                            <br>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Spc.<br></span>
                            <span v-show="g1martSelector(map.overworld.map.value) != `Department`">Spe.<br></span>
                        </div>
                        <div>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminHPLabel">
                                HP Up: <br><span class="vitaminsStyle vitaminHP">{{statExp(map.player.team[0].statExpHp)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminAtkLabel">
                                Protein: <br><span class="vitaminsStyle vitaminAtk">{{statExp(map.player.team[0].statExpAttack)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminDefLabel">
                                Iron: <br><span class="vitaminsStyle vitaminDef">{{statExp(map.player.team[0].statExpDefense)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminSpcLabel">
                                Calcium: <br><span class="vitaminsStyle vitaminSpc">{{statExp(map.player.team[0].statExpSpecial)}}</span>
                            </span>
                            <span v-show="g1martSelector(map.overworld.map.value) == `Department` || g1martSelector(map.overworld.map.value) == `Vitamins`" class="vitaminLabelStyle vitaminSpdLabel">
                                Carbos: <br><span class="vitaminsStyle vitaminSpd">{{statExp(map.player.team[0].statExpSpeed)}}</span>
                            </span>
                        </div>
                        <div class="statsheader">Level {{ map.player.team[0].level.value }}</div>
                        <div class="statsColumnStyle statsColumn1">
                            {{ map.player.team[0].maxHp }}<br>
                            {{ badgeBoost(map.player.badges.badge1.value, map.player.team[0].attack.value) }}<br>
                            {{ badgeBoost(map.player.badges.badge3.value, map.player.team[0].defense.value) }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ g1CritRate(g1PokemonData[starterName]) }}%</div>
                        <div class="statsColumnStyle statsColumn2">
                            <br>
                            {{ badgeBoost(mapper.properties.player.badges.badge7.value, mapper.properties.player.team[0].special.value) }}<br>
                            {{ badgeBoost(mapper.properties.player.badges.badge5.value, mapper.properties.player.team[0].speed.value) }}<br>
                        </div>
                    </div>
                    <!-- BATTLE STATS ----------------------------------------------------------------------------->
                    <div v-else-if="state == `Battle` || state == `From Battle`">
                        <div class="statsLabelStyle statsLabelsColumn1">
                            <span>HP<br></span>
                            <span :style="{ opacity: statLabelOpacity(batt.yourPokemon.modStageAttack) }">Atk.<br></span>
                            <span :style="{ opacity: statLabelOpacity(batt.yourPokemon.modStageDefense) }">Def.<br></span>
                        </div>
                        <div class="statsLabelStyle statsLabelsColumn2">
                            <br>
                            <span :style="{opacity: statLabelOpacity(batt.yourPokemon.modStageSpecial) }">Spc.<br></span>
                            <span :style="{opacity: statLabelOpacity(batt.yourPokemon.modStageSpeed) }">Spe.<br></span>
                        </div>
                        <div class="statsheader">Level {{ mapper.properties.player.team[0].level.value }}</div>
                        <div class="statsColumnStyle statsColumn1">
                            {{ mapper.properties.player.team[0].maxHp }}<br>
                            {{ batt.yourPokemon.battleStatAttack }}<br>
                            {{ batt.yourPokemon.battleStatDefense }}<br>
                        </div>
                        <div class="critrate">Crit rate: {{ g1CritRate(g1PokemonData[s1dynamicReset.species.value]) }}%</div>
                        <div class="statsColumnStyle statsColumn2">
                            <br>
                            {{ batt.yourPokemon.battleStatSpecial }}<br>
                            {{ batt.yourPokemon.battleStatSpeed }}<br>
                        </div>
                        <div class="atkMod">{{ stageModifiers(batt.yourPokemon.modStageAttack) }}</div>
                        <div class="defMod">{{ stageModifiers(batt.yourPokemon.modStageDefense) }}</div>
                        <div class="spcMod">{{ stageModifiers(batt.yourPokemon.modStageSpecial) }}</div>
                        <div class="spdMod">{{ stageModifiers(batt.yourPokemon.modStageSpeed) }}</div>
                    </div>
                </div>  
                <!--------- MOVESET -------------------------------------------------------------------------------------------------------------->
                <div class="movesetContainer">
                    <div class="movesetLabel labelMoves">moves</div>
                    <div class="movesetLabel labelPwr">pwr.</div>
                    <div class="movesetLabel labelAcc">acc.</div>
                    <div class="movesetLabel labelPP">pp</div>
                    <div v-for="move in pkmnMoves">
                        <div v-if="mapper.properties.player.team[0].level > 0 && mapper.properties.player.team[0][move].value != null">
                            <img :class="`movesetStyling iconStyling ${move}icon`" :src="moveTypeIcon(s1dynamic[move].value)" />
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling moveStyling ${move}`">{{ move_name(capitalization_format(s1dynamic[move].value)) }}</div>
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling powerStyling ${move}`" :key="type_effectiveness(s1dynamic,move,mapper.properties.battle.enemyPokemon)">{{ type_effectiveness(s1dynamic,move,mapper.properties.battle.enemyPokemon) }}</div>
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling accuracyStyling ${move}`">{{ moveAccuracyEvasionDynamic(s1dynamic[move].value) }}<span style="font-size: 20px;">%</span></div>
                            <div v-show="mapper.properties.player.team[0][move].value != null" :class="`movesetStyling ppStyling ${move}`">{{ mapper.properties.player.team[0][move + "pp"] }}</div>
                        </div>
                    </div>
                </div>
                <!------- ENEMY GRAPHIC ------------------------------------------------------------------------------------------------------------------->
                <transition name="fade">
                    <div v-if="state != 'Base Stats' && state != 'Overworld' && mapper.properties.battle.type.value == `Trainer`" style="position: absolute;" key=1>
                        <div class="trainerLabel">{{capitalization_format(fixTrainerName(batt.trainer.class.value, batt.trainer.number))}}</div>
                        <div class="colored-image ds" :style="battlePokemonCrop()" style="--url: url(images/ui/opponent.svg)"></div>
                        <div class="enemyGraphic">
                            <div v-for="x in pkmnSlots">
                                <div v-if="mapper.properties.battle.trainer.totalPokemon > x" :class="`ePkmnStyle ePkmn${x + 1}`">
                                    <img v-if="mapper.properties.meta.gameName == 'Yellow'" class="ePkmnSprite" :style="getEnemyPkmnStyles(batt.trainer.team[x]).faint" :src="`images/pokemon/${mapper.properties.battle.trainer.team[x]?.species}.png`"/>
                                    <img v-else-if="mapper.properties.meta.gameName == 'Red and Blue'" class="ePkmnSprite" :style="getEnemyPkmnStyles(batt.trainer.team[x]).faint" :src="`images/pokemon/Red_and_Blue/${mapper.properties.battle.trainer.team[x]?.species}.png`"/>
                                    <div class="ePkmnSpecies opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).species">{{mapper.properties.battle.trainer.team[x]?.species}}</div>
                                    <img class="ePkmnTypeIcons ePkmnType_1 ds opacityTransition" :style="enemyPkmnFaintTypes(batt.trainer.team[x])" :src="`images/elements/type-icons/${enemyType1(x).toLowerCase()}.png`"/>
                                    <img v-if="enemyType1(x) != enemyType2(x)" :style="enemyPkmnFaintTypes(batt.trainer.team[x])" class="ePkmnTypeIcons ePkmnType_2 ds opacityTransition" :src="`images/elements/type-icons/${enemyType2(x).toLowerCase()}.png`"/>
                                    
                                    <!-- Moves -->
                                    <img class="enemyStatsArea opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).faint_stats_background" :src="`images/stats/${x}.png`"/>

                                    <div v-for="move_index in moves = [0, 1, 2, 3]">
                                        <img v-if="mapper.properties.battle.trainer.team[x][`move${move_index + 1}`]?.value != null" 
                                            :class="`ds eMoveIconStyle moveIcon${move_index + 1} opacityTransition`" 
                                            :style="enemyPkmnFaintTypes(batt.trainer.team[x])" 
                                            :src="`images/elements/type-icons/${g1MoveData[move_name(mapper.properties.battle.trainer.team[x][`move${move_index + 1}`]?.value)]?.Type?.toLowerCase()}.png`" 
                                        />
                                        <div :class="`ePkmnMoveStyle ePkmnMove${move_index + 1} opacityTransition`" 
                                            :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">
                                            {{move_name(mapper.properties.battle.trainer.team[x][`move${move_index + 1}`]?.value)}}
                                        </div>
                                        <div v-if="enemy_trainer.pokemon[x]?.moves[move_index] != null" 
                                            :class="`ePkmnMoveStyle ePkmnEffectivePower ePkmnMove${move_index + 1} opacityTransition`" 
                                            :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">
                                            {{enemy_effective_power(enemy_trainer.pokemon[x]?.moves[move_index], mapper.properties.battle.trainer.team[x], x)}}
                                        </div>
                                    </div>

                                    <!-- Stats -->
                                    <!-- <div v-for="stat in stat_objects"
                                        :class="`ePkmnStatLabelStyle ePkmnLabel${stat.abrv}`" 
                                        :style="stat_mod(batt.enemyPokemon[`modEnemyStage${stat[name]}`].value, x).style">
                                        {{stat}}.
                                    </div> -->
                                    <div class="ePkmnStatLabelStyle ePkmnLabelHp   opacityTransition" :style="stat_mod(0, x).style"                                           >Hp</div>
                                    <div class="ePkmnStatLabelStyle ePkmnLabelAtk  opacityTransition" :style="stat_mod(batt.enemyPokemon.modEnemyStageAttack.value, x).style" >Atk.</div>
                                    <div class="ePkmnStatLabelStyle ePkmnLabelDef  opacityTransition" :style="stat_mod(batt.enemyPokemon.modEnemyStageDefense.value, x).style">Def.</div>
                                    <div class="ePkmnStatLabelStyle ePkmnLabelSpc  opacityTransition" :style="stat_mod(batt.enemyPokemon.modEnemyStageSpecial.value, x).style">Spc.</div>
                                    <div class="ePkmnStatLabelStyle ePkmnLabelSpe  opacityTransition" :style="stat_mod(batt.enemyPokemon.modEnemyStageSpeed.value, x).style"  >Spe.</div>
                                    <div class="ePkmnStatLabelStyle ePkmnLabelCrit opacityTransition" :style="stat_mod(0, x).style"                                           >Crit.</div>

                                    <div class="ePkmnStatsStyle ePkmnHp   opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">{{mapper.properties.battle.trainer.team[x]?.maxHp}}</div>
                                    <div class="ePkmnStatsStyle ePkmnAtk  opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"attack",mapper.properties.battle.trainer.team[x]?.attack,"enemyPokemon")}}</div>
                                    <div class="ePkmnStatsStyle ePkmnDef  opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"defense",mapper.properties.battle.trainer.team[x]?.defense,"enemyPokemon")}}</div>
                                    <div class="ePkmnStatsStyle ePkmnSpc  opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"special",mapper.properties.battle.trainer.team[x]?.special,"enemyPokemon")}}</div>
                                    <div class="ePkmnStatsStyle ePkmnSpe  opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">{{activeSlot(x,batt.enemyPokemon.partyPos.value,"speed",mapper.properties.battle.trainer.team[x]?.speed,"enemyPokemon")}}</div>
                                    <div class="ePkmnStatsStyle ePkmnCrit opacityTransition" :style="getEnemyPkmnStyles(batt.trainer.team[x]).text">{{enemy_crit_rate(mapper.properties.battle.trainer.team[x])}}%</div>
                                   
                                    <!-- Modifiers -->
                                    <div 
                                        v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.partyPos.value == x && batt.enemyPokemon.modEnemyStageAttack.value != `0`" 
                                        class="ePkmnModsStyle ePkmnModAtk">
                                        {{stat_mod(batt.enemyPokemon.modEnemyStageAttack.value, x).mod}}
                                    </div>
                                    <div 
                                        v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.partyPos.value == x && batt.enemyPokemon.modEnemyStageDefense.value != `0`"
                                        class="ePkmnModsStyle ePkmnModDef">
                                        {{stat_mod(batt.enemyPokemon.modEnemyStageDefense.value, x).mod}}
                                    </div>
                                    <div 
                                        v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.partyPos.value == x && batt.enemyPokemon.modEnemyStageSpecial.value != `0`"
                                        class="ePkmnModsStyle ePkmnModSpc">
                                        {{stat_mod(batt.enemyPokemon.modEnemyStageSpecial.value, x).mod}}
                                    </div>
                                    <div 
                                        v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.partyPos.value == x && batt.enemyPokemon.modEnemyStageSpeed.value != `0`"  
                                        class="ePkmnModsStyle ePkmnModSpd">
                                        {{stat_mod(batt.enemyPokemon.modEnemyStageSpeed.value, x).mod}}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div v-else-if="mapper.properties.battle.type.value == `Wild` && show_wild_battles == true" style="position: absolute;">
                        <div class="trainerLabel">{{"Wild " + wild_pkmn_name(mapper.properties.battle.enemyPokemon.species.value)}}</div>
                        <div class="colored-image ds" :style="battlePokemonCrop()" style="--url: url(images/ui/opponent.svg)"></div>
                        <div class="enemyGraphic">
                            <div class="ePkmnStyle ePkmn1">
                                <img class="ePkmnSprite" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).faint" :src="`images/pokemon/${mapper.properties.battle.enemyPokemon.species.value}.png`"/>
                                <div class="ePkmnSpecies opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).species">{{wild_pkmn_name(mapper.properties.battle.enemyPokemon.species.value)}}</div>
                                <img class="enemyStatsArea" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).faintStats" :src="`images/enemy_area/stats/0.png`"/>
                                <div class="ePkmnMoveStyle ePkmnMove1 opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{move_name(mapper.properties.battle.enemyPokemon?.move1.value)}}</div>
                                <div class="ePkmnMoveStyle ePkmnMove2 opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{move_name(mapper.properties.battle.enemyPokemon?.move2.value)}}</div>
                                <div class="ePkmnMoveStyle ePkmnMove3 opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{move_name(mapper.properties.battle.enemyPokemon?.move3.value)}}</div>
                                <div class="ePkmnMoveStyle ePkmnMove4 opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{move_name(mapper.properties.battle.enemyPokemon?.move4.value)}}</div>
                                <div class="ePkmnStatsStyle ePkmnHp opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{mapper.properties.battle.enemyPokemon.hp}}</div>
                                <div class="ePkmnStatsStyle ePkmnAtk opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{mapper.properties.battle.enemyPokemon?.attack.value}}</div>
                                <div class="ePkmnStatsStyle ePkmnDef opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{mapper.properties.battle.enemyPokemon?.defense.value}}</div>
                                <div class="ePkmnStatsStyle ePkmnSpd opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{mapper.properties.battle.enemyPokemon?.speed.value}}</div>
                                <div class="ePkmnStatsStyle ePkmnSpc opacityTransition" :style="getEnemyPkmnStyles(mapper.properties.battle.enemyPokemon).text">{{mapper.properties.battle.enemyPokemon?.special.value}}</div>
                                <transition name="fadeMod"><div v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.modEnemyStageAttack.value != `0`" class="enemyMods attackMod" :style="`${enemyMods(batt.enemyPokemon.modEnemyStageAttack.value)[1]}`">{{batt.enemyPokemon.modEnemyStageAttack.value}}</div></transition>
                                <transition name="fadeMod"><div v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.modEnemyStageDefense.value != `0`" class="enemyMods defenseMod" :style="`${enemyMods(batt.enemyPokemon.modEnemyStageDefense.value)[1]}`">{{batt.enemyPokemon.modEnemyStageDefense.value}}</div></transition>
                                <transition name="fadeMod"><div v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.modEnemyStageSpecial.value != `0`" class="enemyMods specialMod" :style="`${enemyMods(batt.enemyPokemon.modEnemyStageSpecial.value)[1]}`">{{batt.enemyPokemon.modEnemyStageSpecial.value}}</div></transition>
                                <transition name="fadeMod"><div v-show="(enemyState == `Pokemon` || enemyState == `Fainting`) && batt.enemyPokemon.modEnemyStageSpeed.value != `0`" class="enemyMods speedMod" :style="`${enemyMods(batt.enemyPokemon.modEnemyStageSpeed.value)[1]}`">{{batt.enemyPokemon.modEnemyStageSpeed.value}}</div></transition>
                            </div>
                        </div> 
                    </div>
                    <div v-else-if="key_F14 == true" key=3>
                        <table class="movepoolDemo" cellspacing="0" :style="mew_movepool_style">
                            <tr class="movepool_header" :style="{'background-color': `var(--${ui_type_color_modifier}${starting_type_fix[1]})`, 'outline': '2px solid #000'}">
                                <th class="movepool_header movepool_way">Way</th>
                                <th class="movepool_header movepool_move">Move</th>
                                <th class="movepool_header movepool_type">Type</th>
                                <th class="movepool_header movepool_tableC">Pwr.</th>
                                <th class="movepool_header movepool_tableC">Acc.</th>
                                <th class="movepool_header movepool_tableC">PP</th>
                            </tr>
                            <tr v-for="x in getMovepool(pokemon_version_specific_data, g1MoveData, tmhmMapping, s1dynamicReset.species.value).initial">
                                <td class="movepool_way">1</td>
                                <td class="movepool_move">{{x.Move}}</td>
                                <td class="movepool_type" :style="{'background-color': `var(--${ui_type_color_modifier}${x.Type.toLowerCase()})`}">{{x.Type}}</td>
                                <td class="movepool_tableC">{{x.Power}}</td>
                                <td class="movepool_tableC">{{x.Accuracy}}%</td>
                                <td class="movepool_tableC">{{x.PP}}</td>
                            </tr>
                            <tr v-for="x in getMovepool(pokemon_version_specific_data, g1MoveData, tmhmMapping, s1dynamicReset.species.value).level">
                                <td class="movepool_way">{{x.Level}}</td>
                                <td class="movepool_move">{{x.Move}}</td>
                                <td class="movepool_type" :style="{'background-color': `var(--${ui_type_color_modifier}${x.Type.toLowerCase()})`}">{{x.Type}}</td>
                                <td class="movepool_tableC">{{x.Power}}</td>
                                <td class="movepool_tableC">{{x.Accuracy}}%</td>
                                <td class="movepool_tableC">{{x.PP}}</td>
                            </tr>
                            <tr v-for="x in getMovepool(pokemon_version_specific_data, g1MoveData, tmhmMapping, s1dynamicReset.species.value).tmhm">
                                <td class="movepool_way">{{x.tmhm}}</td>
                                <td class="movepool_move">{{x.Move}}</td>
                                <td class="movepool_type" :style="{'background-color': `var(--${ui_type_color_modifier}${x.Type?.toLowerCase()})`}">{{x.Type}}</td>
                                <td class="movepool_tableC">{{x.Power}}</td>
                                <td class="movepool_tableC">{{x.Accuracy}}%</td>
                                <td class="movepool_tableC">{{x.PP}}</td>
                            </tr>
                        </table>
                        <div class="colored-image ds" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/ui/movepool.svg)"></div>
                        <div class="movepoolLabel">Movepool</div>
                    </div>
                </transition>
                <transition name="fadeDelayed">
                    <div v-if="state != 'Base Stats' && state != 'Overworld' && mapper.properties.battle.type.value == `Trainer`" style="position: absolute;" key=1>
                        <img class="canvas" :src="specialTrainerGraphics()"/>
                    </div>
                </transition>
                <!--------- BATTLE POP UPS -------------------------------------------------------------------------------------------------------------------->
                <div v-if="battlePopUps == true" style="position: absolute;">
                    <transition name="fade">
                        <div v-if="battle_fade == true && batt.yourPokemon.modStageAccuracy.bytes != 0x07 && batt.yourPokemon.modStageAccuracy.bytes != 0x00 && batt.yourPokemon.modStageAccuracy.bytes != 0xFF && (state == `Battle` || state == `From Battle`)">
                            <div class="colored-image" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/pop_ups/accuracy/default.png)"></div>
                            <div class="popUpsStyle popUpLabelStyle accuracyLabel">Accuracy:</div>
                            <div class="popUpsStyle accuracyMod">{{ accEva(batt.yourPokemon.modStageAccuracy.value) }}</div>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div v-if="battle_fade == true && batt.yourPokemon.modStageEvasion.bytes != 0x07 && batt.yourPokemon.modStageEvasion.bytes != 0x00 && batt.yourPokemon.modStageEvasion.bytes != 0xFF && (state == `Battle` || state == `From Battle`)">
                            <div class="colored-image" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/pop_ups/evasion/default.png)"></div>
                            <div class="popUpsStyle popUpLabelStyle evasionLabel">Evasion:</div>
                            <div class="popUpsStyle evasionMod">{{ accEva(batt.yourPokemon.modStageEvasion.value) }}</div>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div v-if="battle_fade == true && batt.yourPokemon.effects.reflect.bytes != 0xFF && (batt.yourPokemon.effects.reflect.value == true || batt.yourPokemon.effects.lightScreen.value == true) && (state == `Battle` || state == `From Battle`)">
                            <div class="colored-image" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/pop_ups/screens/default.png)"></div>
                            <div class="popUpsStyle popUpLabelStyle screensLabel">{{screen[2]}}</div>
                            <div class="popUpsStyle screensValue" :style="`${screen[1]}`">{{ screen[0] }}</div>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div v-if="key_F17 == `bonks`">
                            <div class="colored-image" :style="`filter: saturate(${ui_saturation})`" style="--url: url(images/pop_ups/screens/default.png)"></div>
                            <div class="genericLabels resetsLabel bonksLabel">bonks</div>
                            <div class="popUpsStyle bonksValue">{{ map?.patch?.steps?.bonks }}</div>
                        </div>
                    </transition>
                </div>
                <!---------- GAMETIME ------------------------------------------------------------------------------------------------------------------->
                <transition name="fade"><div v-show="timer_settings == `Game-Time`" class="gametime">
                    <div class="gametimeClock">{{gametimeHMS}}</div>
                    <div class="gametimeFrames">.{{gametime_frames}}</div>
                </div></transition>
                <!---------- REALTIME ------------------------------------------------------------------------------------------------------------------->
                <transition name="fade"><div v-show="timer_settings == `Real-Time`" class="gametime">
                    <div class="gametimeClock">{{timer_formatted_time[0]}}</div>
                    <div class="gametimeFrames">{{timer_formatted_time[1]}}</div>
                </div></transition>
                <!---------- RESET ------------------------------------------------------------------------------------------------------------------->
                <transition name="fade"><div v-show="resetCounter == true" class="resets">
                    <div v-show="key_F16 == `resets`" id="reset_counter">{{playerResetsDisplay}}</div>
                    <div v-show="key_F16 == `blackouts`" id="reset_counter">{{blackout_counter}}</div>
                </div></transition>
            </div>
        </div>
        <!-- UI ----------------------------------------------------------------------------------------->
        <div class="testingArea1" style="z-index: 50000;">
            <div>Solo Pokemon:</div>
            <select v-model="starterName" @change="load_pokemon_sprite_settings(s1dynamicReset.species.value)" class="dropdownMenu">
                <option disabled value="">Select a species</option>
                <option v-for="key in keys_function(g1PokemonData)" :value="`${key}`">{{key}}</option>
            </select>
            <div>Game:</div>
            <select v-model="game_name" @change="load_pokemon_sprite_settings(s1dynamicReset.species.value)" class="dropdownMenu">
                <option>Yellow</option>
                <option>Red</option>
                <option>Blue</option>
            </select>
            <br>
            <div>DV Setting:</div>
            <select v-model="dvSetting" class="dropdownMenu">
                <option disabled value="">Please select one</option>
                <option>Max</option>
                <option>Min</option>
                <option>NPC</option>
                <option>Max with Min Atk</option>
                <option>Random</option>
            </select>
            <br>
            <div>Attempt: {{this.attempt_number}}<button @click="increment('attempt_number')" class="smallButtonStyle">+</button><button @click="decrement('attempt_number')" class="smallButtonStyle">-</button></div>
            <div>Finished Runs: {{this.finished_run_count}}<button @click="increment('finished_run_count')" class="smallButtonStyle">+</button><button @click="decrement('finished_run_count')" class="smallButtonStyle">-</button></div>
            <div>Resets: {{this.playerResets}}<button @click="increment('playerResets')" class="smallButtonStyle">+</button><button @click="decrement('playerResets')" class="smallButtonStyle">-</button></div>
            <div>Blackouts: {{this.blackout_counter}}<button @click="increment('blackout_counter')" class="smallButtonStyle">+</button><button @click="decrement('blackout_counter')" class="smallButtonStyle">-</button></div>
            <br>
            <button class="buttonStyle" @click="newRun">New Run</button>
            <button class="buttonStyle" @click="set_timer">Set Timer</button><br>
            Start Time Offset: <input type="text" v-model="timer_startTimeOffset" placeholder="00:00:00.00"/><br>
            <br>
            <div>Pokemon:</div>
            X-Offset: <input type="range" min="-400" max="400" v-model="imageXOffset"/><br>
            Y-Offset: <input type="range" min="-400" max="400"v-model="imageYOffset"/><br>
            Scale: <input type="range" min="0.3" max="2" step="0.02" v-model="imageScale"/><br>
            Saturation: <input type="range" min="90" max="150" step="1" v-model="imageSat"/><br>
            Rotation: <input type="range" min="0" max="360" step="1" v-model="imageRotation"/><br>
            Flip: <input class="checkBoxStyle" type="checkbox" v-model="imageFlip"/><br>
            <br>
            <div>Background:</div>
            <select v-model="backgroundTexture" class="dropdownMenu">
                <option v-for="key in dropdownDownMenuKeys.textures" :key="key" :value="key">
                    {{ key }}
                </option>
            </select>
            <br>
            X-Offset: <input type="range" min="-125" max="125" v-model="backgroundXOffset"/><br>
            Y-Offset: <input type="range" min="-125" max="125"v-model="backgroundYOffset"/><br>
            Scale: <input type="range" min="100" max="200" v-model="backgroundScale"/><br>
            Brightness: <input type="range" min="0" max="200" v-model="backgroundBrightness"/><br>
            Contrast: <input type="range" min="0" max="200" v-model="backgroundContrast"/><br>
            Saturation: <input type="range" min="0" max="200" v-model="backgroundSaturation"/><br>
            Blur: <input type="range" min="0" max="10" v-model="backgroundBlur"/><br>
            Hue: <input type="range" min="0" max="358" v-model="backgroundHue"/><br>
            <br>
            <div>UI:</div>
            <button @click="color_picker" class="buttonStyle">Color Picker</button>
            Saturation: <input type="range" min="0" max="2" step="0.1" v-model="ui_saturation"/><br>
            Type Colors:<br>
            <select v-model="ui_type_colors" class="dropdownMenu">
                <option>Bulbapedia Current</option>
                <option>Bulbapedia Legacy</option>
            </select>
            <select v-model="ui_test_prop" class="dropdownMenu">
                <option>one</option>
                <option>two</option>
                <option>three</option>
                <option>four</option>
            </select>
        </div>
        <div class="testingArea2" style="z-index: 50000;">
            <div>Secondary Menu:</div>
            <select v-model="help_menus" class="dropdownMenu">
                <option disabled value="">Please select one</option>
                <option>Encounters</option>
                <option>Advanced Options</option>
                <option>Style</option>
                <option>Splits</option>
                <!-- <option>Dev Console</option> -->
            </select>
            <button class="buttonStyle" onClick="openFolder('splits')">Open Splits Folder</button>
        </div>
        <div v-show="help_menus == `Encounters`" class="testingArea3" style="z-index: 50000; font-size: 18px;">
            Encounters:<br>
            <table class="ui_table">
                <tr>
                    <th>Route 1:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="route1"/></th>
                </tr>
                <tr>
                    <th>Route 3:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="route3"/></th>
                </tr>
                <tr>
                    <th>Mt. Moon:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="mtMoon"/></th>
                </tr>
                <tr>
                    <th>Route 6:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="route6"/></th>
                </tr>
                <tr>
                    <th>Rock Tunnel:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="rockTunnel"/></th>
                </tr>
                <tr>
                    <th>Pkmn Tower:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="pokemonTower"/></th>
                </tr>
                <tr>
                    <th>Safari Zone:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="safariZone"/></th>
                </tr>
                <tr>
                    <th>Pkmn Mansion:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="mansion"/></th>
                </tr>
                <tr>
                    <th>Route 22:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="route22"/></th>
                </tr>
                <tr>
                    <th>Victory Road:</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="victoryRoad"/></th>
                </tr>
                <tr>
                    <th>Route 24</th>
                    <th><input class="checkBoxStyle" type="checkbox" v-model="route24"/></th>
                </tr>
            </table>
            <br>
            Viridian Forest:<br>
            <select v-model="viridian_forest" class="dropdownMenu">
                <option disabled value="">Please select one</option>
                <option>Encounters On</option>
                <option>Encounters Off</option>
                <option>Pidgey</option>
                <option>Level</option>
                <option>Speed</option>
            </select>
            <input v-if="viridian_forest == `Level`" v-model="goal_level" placeholder="Target Level">
            <input v-if="viridian_forest == `Speed`" v-model="goal_speed" placeholder="Target Speed">
            <br>
            <br>
            <button @click="apply_settings('first_playthrough_settings')" class="buttonStyle">First Playthrough Settings</button><br>
            <button @click="apply_settings('second_playthrough_settings')" class="buttonStyle">Second Playthrough Settings</button><br>
            <button @click="apply_settings('all_off')" class="buttonStyle">All Off</button>
        </div>
        <div v-show="help_menus == `Advanced Options`" class="testingArea3" style="z-index: 50000; font-size: 18px;">
            <div>Timer Setting:</div>
            <select v-model="timer_settings" class="dropdownMenu">
                <option disabled value="">Please select one</option>
                <option>Real-Time</option>
                <option>Game-Time</option>
                <option>Off - Real-Time Label</option>
                <option>Off - Game-Time Label</option>
            </select><br>
            <div style="text-decoration: underline;">Graphics Toggles:</div>
            Trainer Teams: <input class="checkBoxStyle" type="checkbox" v-model="battleGraphic"/><br>
            <div class="note">Displays the enemy trainer's team while battling them. This option must be enabled for the following option "All Trainers" to work.</div>
            <br>
            All Trainers: <input class="checkBoxStyle" type="checkbox" v-model="showAllTrainers"/><br>
            <div class="note">When disabled the overlay will only display the teams of key trainers (Rivals, Gym Leaders, E4, Champion).</div>
            <br>
            Show Trainer Illustrations: <input class="checkBoxStyle" type="checkbox" v-model="showSpecialTrainerGraphics"/><br>
            <div class="note">When enabled this will display illustrations of the trainer under their team when you fight them.</div>
            <br>
            Show Wild Pokemon: <input class="checkBoxStyle" type="checkbox" v-model="show_wild_battles"/><br>
            <div class="note">Displays wild Pokemon in the same way as trainer Pokemon when this option is checked.</div>
            <br>
            Show screens, accruacy, and evasion: <input class="checkBoxStyle" type="checkbox" v-model="battlePopUps"/><br>
            <div class="note">The overlay will display pop ups when your Pokemon is behind a screen or has had its accuracy or evasion modified.</div>
            <br>
            <br>
            <div style="text-decoration: underline;">Calculation Toggles:</div>
            Show Guarenteed Crits in Effective Power: <input class="checkBoxStyle" type="checkbox" v-model="showCritMultiplierInEP"/><br>
            <div class="note">If the Pokemon is guarenteed a critical hit using a high-crit-rate move the overlay will calculate in the crit multiplier when displaying effective power. High-crit-rate moves are: Crabhammer, Karate Chop, Slash, Razor Leaf.</div>
            <br>
            <br>
            <div style="text-decoration: underline;">Gameplay Toggles:</div>
            Rock Tunnel Darkness: <input class="checkBoxStyle" type="checkbox" v-model="rockTunnelDarkness"/><br>
            <div class="note">When enabled Flash is automatically applied in Rock Tunnel.</div>
            <br>
            Trash Cans Solved: <input class="checkBoxStyle" type="checkbox" v-model="trashCans"/><br>
            Automatically Set Options: <input class="checkBoxStyle" type="checkbox" v-model="options"/><br>
            Reset Counter: <input class="checkBoxStyle" type="checkbox" v-model="resetCounter"/><br>
            <br>
            <button @click="reset_advanced_settings" class="buttonStyle">Reset All Advanced Options</button>
        </div>
        <div v-show="help_menus == `Style`" class="testingArea3" style="z-index: 50000; font-size: 14px;">

        </div>
        <div v-show="help_menus == `Internal Monitor`" class="testingArea3" style="z-index: 50000; font-size: 14px;">
            <div>Splits:</div>
        </div>
        <div v-show="help_menus == `Splits`" class="testingArea3" style="z-index: 50000; font-size: 14px; overflow-y: auto;">
            <div style="font-size: 24px;">{{this.starterName}}</div>
            <div>{{split_logStr}}</div>
            <div>PB Time: {{this.pb_time}}</div>
            <table style="text-align: left; line-height: 16px;">
                <tr>
                    <th style="text-decoration: underline; width: 160px; text-align: left;">Split</th>
                    <th style="text-decoration: underline; width: 40px; text-align: right;">Current</th>
                    <th style="text-decoration: underline; width: 40px; text-align: right;">PB</th>
                    <th style="text-decoration: underline; width: 45px; text-align: right;">diff</th>
                </tr>
                <button class="buttonStyle" @click="save_pb_splits">Save PB Splits</button>
                <button class="buttonStyle" @click="splits_clear">Clear Splits</button>
                <tr v-for="split in this.split_data">
                    <th>{{split[2]}}:</th>
                    <th style="text-align: right;">{{split[3]}}</th>
                    <th v-if="pb_split(split[2]) != null" style="text-align: right;">{{pb_split(split[2])[3]}}</th>
                    <th v-if="pb_split(split[2]) != null" style="text-align: right;" :style="splitTextColor(split[3], pb_split(split[2])[3])">{{timeUntilSplit(convertDurationToSeconds(split[3]), convertDurationToSeconds(pb_split(split[2])[3]))}}</th>
                </tr>
            </table>
            <br>
        </div>
        <div v-show="help_menus == `Playthrough Info`" class="testingArea3" style="z-index: 50000; font-size: 14px;">
            <div>Items:</div>
        </div>
    </div>

<!------ JAVASCRIPT --------------------------------------------------------------------------------------------------------------------->
    <script src="https://unpkg.com/@microsoft/signalr@7.0.14/dist/browser/signalr.min.js"></script> 
    <script src="https://unpkg.com/vue@latest/dist/vue.global.js"></script>
    <script src="http://localhost:8085/dist/gameHookMapperClient.js"></script>
    <script src="data/g1MoveData.js"></script>
    <script src="data/g1PokemonData.js"></script>
    <script src="data/g1PokemonDataRB.js"></script>
    <script src="data/gen1YellowTrainers.js"></script>
    <script src="data/gen1RedBlueTrainers.js"></script>
    <script src="data/type-effectiveness.js"></script>
    <script src="data/stage-modifiers.js"></script>
    <script src="data/tmhmmapping.js"></script>
    <script src="data/settings.js"></script>
    <script src="data/saved_settings.js"></script>
    <script src="data/deprecated_autosplitter.js"></script>
    <script src="data/autosplitter.js"></script>
    <script src="data/textures.js"></script>
    <script src="data/battle_summary_properties.js"></script>
    <script src="settings/application_settings.js"></script>
    <script src="settings/pokemon_settings.js"></script>
    <script type="text/javascript" src="frontend.js"></script>
</body>